<div class="divGeral">


  <div class="containerFreteEProduto" *ngIf="carrinho.length > 0">
    <div class="containerFrete">
      <div class="labelFrete">
          Consultar frete e prazo de entrega
      </div>
      <div class="inputFreteEBotoes">
        <div class="divInputEBotao margem">
          <p-inputMask mask="99999-999" [(ngModel)]="cep" placeholder="CEP" class="margem"></p-inputMask>
          <p-button label="Enviar"  styleClass="p-button-outlined"></p-button>
        </div>
        <div class="divNaoLembroOCep">
          <p-button label="Não lembro do meu cep" styleClass="p-button-link" class="buttonNaoLembroOCep"></p-button>
        </div>
      </div>
    </div>
    <div class="containerProduto">
      <div class="divRemoverProdutos">
        Produtos
        <p-button
          icon="fa-solid fa-trash-can fa-xl"
          styleClass="p-button-danger"
          label="Remover todos os produtos"
          (click)="removerTodosOsProdutos()"
          ></p-button>
      </div>
      <div *ngFor="let item of carrinho | slice:first:first + rows" class="item-carrinho">
        <div class="containerInformaçoesProduto">
          <img class="img" [src]="item.imagemProduto" alt="imagem produto" >
          <div class="nome-produto">
            {{ item.nomeProduto ? formatarNomeProduto(item.nomeProduto) : '' }}
          </div>
          <div class="quantidade">
            <p-inputNumber
              [size]="1"
              [min]="1"
              [(ngModel)]="item.quantidade"
              [showButtons]="true"
              buttonLayout="vertical"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="fa-solid fa-plus"
              decrementButtonIcon="fa-solid fa-minus"
              (ngModelChange)="atualizarValorTotal()"
            ></p-inputNumber>
          </div>
          <div class="preco">
            {{ calcularValorItem(item) | currency:'BRL':'symbol':'1.2-2'}}
          </div>
          <div class="botao-excluir">
            <p-button icon="fa-solid fa-trash-can fa-xl" styleClass="p-button-danger" (click)="excluirItem(item)"></p-button>
          </div>
        </div>
      </div>
      <div class="paginator">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 15, 20]">
        </p-paginator>
      </div>
    </div>
  </div>

  <div class="containerValorTotal" *ngIf="carrinho.length > 0">
    <div class="valorTotal">
      <h1 class="resumoDoPedido">
        Resumo
      </h1>
      <div class="valorTotalProdutos">
        <div class="pMenor">Valor dos produtos:</div>
        <div class="pMaior">{{ calcularValorTotal() | currency:'BRL':'symbol':'1.2-2' }}</div>
      </div>
      <hr class="hr">
      <div class="valorFrete">
        <div class="pMenor">Frete:</div>
        <div class="pMaior">R$ ???,??</div>
      </div>
      <div class="ValorTotalProdutosEFrete">
        <div class="pMenor">Valor total:</div>
        <h2 class="valorFinalFreteEProduto">R$ ?????,??</h2>
      </div>
      <div class="divBotoes">
        <p-button label="Ir para o pagamento"></p-button>
        <p-button class="buttonWidth button" label="Continuar comprando" routerLink="/tela-principal"></p-button>
      </div>
    </div>
  </div>


  <div class="containerSemProduto" *ngIf="carrinho.length === 0">
    <div>Não há nenhum item no seu carrinho.</div>
    <br>
    <div>Caso queira, algum item, entre nas categorias referentes acima, ou vá para a página inicial</div>
    <br>

    <div>
      <p-button
        label="Página principal"
        icon="fa-solid fa-house"
        routerLink="/tela-principal"
      >
      </p-button>
    </div>


  </div>


</div>
