<div class="divGeral">
  <div class="divSteps">
    <p-steps [model]="items" [readonly]="true" ></p-steps>
  </div>
  <div class="formasPagamento">


    <div class="containerFormaPagamento">
      <div class="containerRadioButton">
        <div *ngFor="let pagamento of formaPagamento; let i = index" class="field-checkbox">
          <p-radioButton [inputId]="pagamento.tipoPagamento" name="category" [value]="pagamento" [(ngModel)]="formaPagamentoSelecionada" (click)="toggleFormaPagamentoAtiva(i)"></p-radioButton>
          <label [for]="pagamento.tipoPagamento" class="ml-2">{{ pagamento.tipoPagamento }}</label>
          <div *ngIf="formaPagamentoAtiva[i]">{{ pagamento.descricaoFormaPagamento }}</div>
        </div>

      </div>

    </div>



  </div>
</div>
