.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 23px;
}

.divSteps{
  background-color: white;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--borda-dos-containers);
  border-radius: 6px;
}

:host ::ng-deep .p-steps {
  background-color: white;
}

.formasPagamento{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.containerValorTotal{
  display: flex;
  height: 100%;
  width: 20%;
  margin-left: 5px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--container-externo-cards-produtos);
}

.containerValoresEBotoes{
  border-radius: 6px;
  background-color: var(--background-das-divs-da-categoria);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 100%;
}

.containerFormaPagamento{
  display: flex;
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

.containerTipoPagamentoGeral{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--container-externo-cards-produtos);
}

.containerTipoPagamento{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--background-das-divs-da-categoria);
}

.containerButtonELabel{
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}


.labelFormaPagamento{
  margin-left: 10px;
}

.descricaoFormaPagamento{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 1px solid black;
  background-color: var(--container-externo-cards-produtos);
  border-bottom-left-radius: 4px ;
  border-bottom-right-radius: 4px ;
}



.valorTotal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 6px;
  background-color: var(--container-interno-cards-produtos);
}

.resumoDoPedido{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
}

.hr{
  display: flex;
  width: 100%;
}

.valorFrete{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--container-interno-cards-produtos);
}

.ValorTotalProdutosEFrete{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  background-color: var(--background-das-divs-da-categoria);
}

.valorFinalFreteEProduto{
  margin-top: 5px;
  font-size: 30px;
  font-weight: bolder;
  color: var(--cor-valor-total);
}

.pMenor{
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}

.pMaior{
  font-size: 20px;
  font-weight: 500;
}

.divBotoes{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

:host ::ng-deep .p-button{
  width: 100%;
}

.button{
  margin-top: 10px;
}

@media (max-width: 1250px) {

  .containerValorTotal{
    width: 40%;
  }

  .containerTipoPagamentoGeral{
    width: 100%;
  }
}

@media (max-width: 720px) {

  .formasPagamento{
    flex-direction: column;
  }

  .containerValorTotal{
    width: 100%;
    margin-left: 0;
    margin-top: 5px;

  }

}

@media (max-width: 395px) {

  .divSteps{
   display: none;
  }
 }

 @media (max-width: 600px) {

  .divGeral{
    margin-top: 22px;

  }
}