.divGeral {
  display: flex;
  width: 100%;
  padding: 13px;
  flex-direction: column;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 6px;
}

.wordBreak{
  max-width: 500px;
  word-break: break-all;
}

