<div class="divGeral">


  <div class="divSteps">
    <p-steps [model]="items" [readonly]="true"></p-steps>
  </div>

  <div class="containerInformacoesEValorFinal">

    <div class="informacoesEProduto">

      <div class="informacoes">
        <div>
          <h1 class="h1">
            Informações gerais do pedido
          </h1>
        </div>

        <div class="containerDadosPessoaisEEndereco">

          <div class="containerDadosPessoais" *ngIf="usuario && usuario.length > 0">
            <h2 class="h2">Dados pessoais</h2>
            <div>
              Dados a serem incluídos na nota fiscal correspondente ao pedido.
            </div>
            <hr class="hr">
            <div class="divNome">
              {{ usuario[0].nome }}
            </div>
            <div class="divEmail">
              <div class="labelEmail">E-mail:</div>
              <div class="dadoEmail">{{ usuario[0].email }}</div>
            </div>
            <div class="divTelefone">
              <div class="labelTelefone">Telefone:</div>
              <div class="dadoTelefone">{{ usuario[0].telefone }}</div>
            </div>
            <div class="divCPF">
              <div class="labelCpfOuCnpj">CPF/CNPJ:</div>
              <div class="dadoCPFouCNPJ">{{ usuario[0].cpfOuCnpj }}</div>
            </div>
            <div class="divCEP">
              <div class="labelCep">CEP:</div>
              <div class="dadoCEP">{{ usuario[0].cep }}</div>
            </div>
          </div>

          <div class="containerEnderecoEntrega" *ngIf="usuario && usuario.length > 0">

            <h2 class="h2">Endereço de entrega</h2>

            <div>
              Endereço onde será feita a entrega do pedido.
            </div>
            <hr class="hr">

            <div class="divNomeRua">
              {{ usuario[0].rua }}
            </div>
            <div class="divNumeroResidencia">
              <div class="labelNumeroResidencia">Número:</div>
              <div class="dadoNumeroResidencia">{{ usuario[0].numeroResidencia }}</div>
            </div>
            <div class="divCidade">
              <div class="labelCidade">Cidade:</div>
              <div class="dadoCidade">{{ usuario[0].cidade }}</div>
            </div>
            <div class="divBairro">
              <div class="labelBairro">Bairro:</div>
              <div class="dadoBairro">{{ usuario[0].bairro }}</div>
            </div>
            <div class="divCEP">
              <div class="labelCep">CEP:</div>
              <div class="dadoCEP">{{ usuario[0].cep }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="produtos">
        <h2 class="h2">Produtos</h2>
        <hr class="hr">

        <div *ngFor="let produto of carrinho | slice:first:first + rows" class="containerProduto">
          <div class="containerImg">
            <img class="img" [src]="produto.imagemProduto" alt="Imagem do produto">
          </div>
          <div class="containerNomeProduto">
             {{produto.nomeProduto}}
          </div>
          <div class="containerQuantidade">
            <div class="labelQuantidade">Quant.</div>
            <div class="dadoQuantidade">{{ produto.quantidade }}</div>
          </div>
          <div class="containerPreco">
            <div class="labelValorProduto">Valor do prod.</div>
            <div class="dadoProduto">
              R$ {{ calcularValorItem(produto).toFixed(2) }}
            </div>
          </div>
        </div>
        <div class="paginator">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]">
          </p-paginator>
        </div>
      </div>

    </div>

    <div class="valores">
      <div class="containerGeralValorTotal">
        <h2 class="h2">
          Resumo do pedido
        </h2>
        <div class="containerValorProduto">
          <div class="labelValorProduto">
            Valor dos produtos:
          </div>
          <div class="dadoProduto">
            R$ {{ valorTotal.toFixed(2) }}
          </div>
        </div>
        <hr class="hr">
        <div class="containerFrete">
          <div class="labelFrete">
            Frete:
          </div>
          <div class="dadoFrete">
            R$ ???,??
          </div>
        </div>
        <hr class="hr">
        <div class="containerValorTotal">
          <div class="labelValorTotal">
            Forma de pagamento:
          </div>
          <div *ngIf="formaPagamentoSelecionada" class="formaPagamento">
            {{ formaPagamentoSelecionada.tipoPagamento }}
          </div>
          <br>
          <div class="dadoValorTotal">
            R$ {{ valorTotal.toFixed(2) }}
          </div>
        </div>
        <div class="containerBotoes">
          <p-button
          label="Finalizar"
          class="button"
          ></p-button>
          <p-button
          class="button"
          routerLink="/pagamento"
          label="Voltar"
          ></p-button>
        </div>
      </div>
    </div>

  </div>


</div>


