.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 23px;

  .divSteps{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--borda-dos-containers);
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .containerInformacoesEValorFinal{
    width: 100%;
    height: 100%;
    display: flex;

    .informacoesEProduto{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-right: 5px;

      .informacoes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 5px;
        background-color: var(--container-externo-cards-produtos);

        .containerDadosPessoaisEEndereco{
          display: flex;
          width: 100%;

          .containerDadosPessoais{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-right: 10px;
            padding: 10px;
            background-color: var(--container-interno-cards-produtos);

            .divNome{
              display: flex;
              font-size: 20px;
              font-weight: 500;
              margin-bottom: 5px;
            }

            .divEmail{
              display: flex;

              .labelEmail{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }

              .dadoEmail{
                font-weight: 200;
              }
            }

            .divTelefone{
              display: flex;

              .labelTelefone{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }

              .dadoTelefone{
                font-weight: 200;
              }
            }

            .divCPF{
              display: flex;


              .labelCpfOuCnpj{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }


              .dadoCPFouCNPJ{
                font-weight: 200;
              }

            }
          }

          .containerEnderecoEntrega{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 10px;
            background-color: var(--container-interno-cards-produtos);

            .divNomeRua{
              display: flex;
              font-size: 20px;
              font-weight: 500;
              margin-bottom: 5px;
            }

            .divNumeroResidencia{
              display: flex;

              .labelNumeroResidencia{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }

              .dadoNumeroResidencia{
                font-weight: 200;
              }
            }

            .divCidade{
              display: flex;

              .labelCidade{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }

              .dadoCidade{
                font-weight: 200;
              }
            }

            .divBairro{
              display: flex;


              .labelBairro{
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
              }


              .dadoBairro{
                font-weight: 200;
              }

            }
          }
        }
      }

      .produtos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: var(--container-externo-cards-produtos);

        .containerProduto{
          display: flex;
          width: 100%;
          margin-bottom: 10px;
          padding: 5px;
          background-color: var(--container-interno-cards-produtos);

          .containerImg{
            display: flex;
            width: 10%;
            min-width: 80px;
            justify-content: center;
            align-items: center;

            .img{
              width: 70px;
              height: 80px;
            }

          }

          .containerNomeProduto{
            display: flex;
            width: 60%;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-weight: 500;
          }

          .containerQuantidade{
            display: flex;
            flex-direction: column;
            width: 15%;
            justify-content: center;
            align-items: center;
            padding: 10px;


            .labelQuantidade{
              margin-bottom: 5px;
              font-weight: 300;
            }

            .dadoQuantidade{
              font-weight: 500;
            }
          }

          .containerPreco{
            display: flex;
            flex-direction: column;
            width: 15%;
            min-width: 110px;
            justify-content: center;
            align-items: center;
            padding: 10px;


            .labelValorProduto{
              margin-bottom: 5px;
              font-weight: 300;
            }

            .dadoProduto{
              font-weight: 500;
            }
          }
        }


      }
    }

  }
}

.valores{
  display: flex;
  width: 30%;
  height: 100%;
  max-height: 400px;
  padding: 10px;
  background-color: var(--container-externo-cards-produtos);

  .containerGeralValorTotal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 400px;
    justify-content: center;
    background-color: var(--container-interno-cards-produtos);
    padding: 10px;

    .containerValorProduto{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      .labelValorProduto{
        font-weight: 300;
      }

      .dadoProduto{
        font-size: 15px;
        font-weight: 500;
      }
    }

    .containerFrete{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      .labelFrete{
        font-weight: 300;
      }

      .dadoFrete{
        font-size: 15px;
        font-weight: 500;

      }
    }

    .containerValorTotal{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      height: 100px;
      background-color: var(--background-das-divs-da-categoria);

      .labelValorTotal{
        font-weight: 300;
      }

      .dadoValorTotal{
        font-weight: 500;
        font-size: 25px;
        text-align: right;
        color: var(--cor-valor-total);
      }

    }

    .containerBotoes{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }


}

.divCEP{
  display: flex;

  .labelCep{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .dadoCEP{
    font-weight: 200;
  }

}

.h1{
  font-weight: 500;
  margin-bottom: 10px;
}

.h2{
  margin-bottom: 5px;
}

.hr{
  width: 100%;
  margin-bottom: 10px;
}

.button{
  margin-top: 10px;
}

:host ::ng-deep .p-button{
  width: 100%;
}

@media (max-width: 1000px) {

  .containerInformacoesEValorFinal{
    flex-direction: column;
  }

  .valores{
    margin-top: 5px;
    width: 100%;
  }

}

@media (max-width: 570px) {

  .containerDadosPessoaisEEndereco{
    flex-direction: column;
  }
}


@media (max-width: 395px) {

  .divSteps{
   display: none;
  }
 }


