.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 23px;
}

.divSteps{
  background-color: white;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--borda-dos-containers);
  border-radius: 8px;
  margin-bottom: 15px;
}
