<div class="divGeral">


  <div class="divSteps">
    <p-steps [model]="items" [readonly]="true"></p-steps>
  </div>

  <div class="containerInformacoesEValorFinal">

    <div class="informacoesEProduto">

      <div class="informacoes">
        <div>
          <h1 class="h1">
            Informações gerais do pedido
          </h1>
        </div>

        <div class="containerDadosPessoaisEEndereco">

          <div class="containerDadosPessoais" *ngIf="usuario && usuario.length > 0">
            <h2 class="h2">Dados pessoais</h2>
            <div>
              Dados a serem incluídos na nota fiscal correspondente ao pedido.
            </div>
            <hr class="hr">
            <div class="divNome">
              {{ usuario[0].nome }}
            </div>
            <div class="divEmail">
              <div class="labelEmail">E-mail:</div>
              <div class="dadoEmail">{{ usuario[0].email }}</div>
            </div>
            <div class="divTelefone">
              <div class="labelTelefone">Telefone:</div>
              <div class="dadoTelefone">{{ usuario[0].telefone }}</div>
            </div>
            <div class="divCPF">
              <div class="labelCpfOuCnpj">CPF/CNPJ:</div>
              <div class="dadoCPFouCNPJ">{{ usuario[0].cpfOuCnpj }}</div>
            </div>
            <div class="divCEP">
              <div class="labelCep">CEP:</div>
              <div class="dadoCEP">{{ usuario[0].cep }}</div>
            </div>
          </div>

          <div class="containerEnderecoEntrega" *ngIf="usuario && usuario.length > 0">

            <h2 class="h2">Endereço de entrega</h2>

            <div>
              Endereço onde será feita a entrega do pedido.
            </div>
            <hr class="hr">

            <div class="divNomeRua">
              {{ usuario[0].rua }}
            </div>
            <div class="divNumeroResidencia">
              <div class="labelNumeroResidencia">Número:</div>
              <div class="dadoNumeroResidencia">{{ usuario[0].numeroResidencia }}</div>
            </div>
            <div class="divCidade">
              <div class="labelCidade">Cidade:</div>
              <div class="dadoCidade">{{ usuario[0].cidade }}</div>
            </div>
            <div class="divBairro">
              <div class="labelBairro">Bairro:</div>
              <div class="dadoBairro">{{ usuario[0].bairro }}</div>
            </div>
            <div class="divCEP">
              <div class="labelCep">CEP:</div>
              <div class="dadoCEP">{{ usuario[0].cep }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="produtos">
        <h2 class="h2">Produtos</h2>
        <hr class="hr">

        <div *ngFor="let produto of carrinho" class="containerProduto">

          <div class="containerImg">
            <img class="img" [src]="produto.imagemProduto" alt="Imagem do produto">
          </div>

          <div class="containerNomeProduto">
             {{produto.nomeProduto}}
          </div>

          <div class="containerQuantidade">
            <div class="labelQuantidade">Quant.</div>
            <div class="dadoQuantidade">{{ produto.quantidade }}</div>
          </div>

          <div class="containerPreco">
            <div class="labelValorProduto">Valor do prod.</div>
            <div class="dadoProduto">
              R$ {{ (produto?.preco || 0) * (produto?.quantidade || 0) | number:'1.2-2' }}
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="valores">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga natus adipisci repellat inventore reiciendis officia hic tempore alias aperiam aliquam fugit eaque quos consequatur, laborum recusandae dolores, sunt ratione consequuntur eligendi. Ab eius natus velit maxime, ipsum esse a, nam repudiandae tempore quasi adipisci odit enim fuga dicta laborum provident fugiat illum dolorum aliquid, minus reiciendis ex. Eum ea recusandae quaerat voluptatum, iusto soluta reprehenderit architecto culpa, quidem porro qui eaque deleniti nisi praesentium consequatur. Modi, necessitatibus delectus? Distinctio quas ex nemo pariatur eum accusamus repellendus commodi, illum perferendis amet modi, assumenda vitae numquam. Exercitationem odit quis numquam, saepe quia consequuntur quaerat minima molestiae in accusamus iusto perspiciatis et mollitia!
    </div>

  </div>


</div>



<!--
<div *ngIf="carrinho && carrinho.length">
  <div *ngFor="let produto of carrinho">
    <div>
     {{ produto.quantidade }}
      <br>
      {{ (produto?.preco || 0) * (produto?.quantidade || 0) | number:'1.2-2' }}
    </div>
  </div>
</div>

<div *ngIf="!carrinho || carrinho.length === 0">
  <p>Nenhum produto no carrinho.</p>
</div>
-->
