<div class="divGeral">

    <div class="divContato">

        <h1 class="h1">Entre em contato</h1>

        <div class="contatos">
            <div class="celular">
                <div class="label">
                    Celular:
                </div>
                <div>
                    (99) 99999-9999
                </div>
            </div>
            <div class="email">
                <div class="label">
                    Email:
                </div>
                <div>
                    teste@teste.com
                </div>
            </div>
            <div class="endereco">
                <div class="label">
                    Endereço:
                </div>
                <div>
                    rua teste, 999
                </div>
            </div>

        </div>
    </div>

</div>
