.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
}



.divCarousel{
  display: flex;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--background-das-divs-da-categoria);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.462);
  margin-right: 5px;
}

.divCarouselImagens{
  display: flex;
  width: 100%;
}



.containerCategoria{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
  border: 2px solid rgba(0, 0, 0, 0.462);
  background-color: var(--container-interno-cards-produtos);
  width: 100%;
}

.containerCategoria:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.carousel{
  display: flex;
  width: 100%;
  justify-content: center;
}

:host ::ng-deep .carousel-alto .p-carousel-items-content {
  display: flex;
  width: 100%;
  min-height: 620px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.imgCarousel{
  display: flex;
  width: 100%;
  height: 70px;
}

.categoriaEProdutos{
  display: flex;
}

.divCategoria{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  background-color: var(--background-das-divs-da-categoria);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.462);
}

.linhaProdutos {
  display: flex;
  flex-wrap: wrap;
}

.containerProdutos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.margem{
  padding: 3%;
}

.containerGeral{
  padding: 23px;
  flex-basis: calc(25%); /* 25% width for each product with margins */
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  background-color: var(--container-externo-cards-produtos);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: 8px;
}

.container:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.containerInterno{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--container-interno-cards-produtos);

}

.containerImagem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.img{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.nome{
  width: 80%;
  word-wrap: break-word;
  font-size: 20px;
}

.tamanhoDivs{
  display: flex;
  width: 100%;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.descricao{
  width: 80%;
  word-wrap: break-word;
  font-size: 20px;
}

.preco{
  display: flex;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
}

.botoes{
  display: flex;
}

.sidenav-nav {
  display: flex;
  width: 100%;
  max-width: 150px;
  padding: 4px;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  align-items: center;

  .sidenav-nav-item{
    display: flex;
    width: 100%;
    height: 100%;


    .sidenav-nav-link{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem; /* Tamanho da altura dos botões */
      overflow: hidden;
      min-height: 3rem;
      max-height: 100%;
      width: 100%;
      background-color: var(--background-botoes);
      text-decoration: none;
      border-radius: 0.313rem;
      transition: all .3s ease;
      cursor: pointer;
      padding: 10px;


      .sidenav-link-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        text-align: center;
        color: var(--textos-e-icones-botoes);
      }

      .sidenav-link-text{
        font-size: 20px;
        margin-left: 5px;
        word-wrap: break-word;
        color: var(--textos-e-icones-botoes);
      }
    }

    .sidenav-nav-link:hover{
      background-color: var(--hover-background-botoes);
    }
  }
}

.sidenav-nav-item-info{
  display: flex;
  width: 100%;
  height: 100%;

  .sidenav-nav-link-info{
    display: flex;
    align-items: center;
    height: 3rem; /* Tamanho da altura dos botões */
    min-height: 3rem;
    max-height: 100%;
    background-color: var(--background-botoes);
    text-decoration: none;
    border-radius: 0.313rem;
    transition: all .3s ease;
    cursor: pointer;

    .sidenav-link-icon-info{
      font-size: 22px;
      width: 45px;
      text-align: center;
      color: var(--textos-e-icones-botoes);
    }

  }

  .sidenav-nav-link-info:hover{
    background-color: var(--hover-background-botoes);
  }
}

.paginator{
  margin-top: 40px;
}

@media (max-width: 1290px){

  .containerGeral{
    flex-basis: calc(33%); /* 25% width for each product with margins */
  }

}

@media (max-width: 1025px){

  .containerGeral{
    flex-basis: calc(50%); /* 25% width for each product with margins */
  }

}

@media (max-width: 750px){

  .containerGeral{
    flex-basis: calc(100%); /* 25% width for each product with margins */
  }

}

@media (max-width: 550px){
  .divCarousel{
    display: none;
  }

  .sidenav-link-text {
    display: none;
  }

}





































