<div class="divGeral">

  <div class="containerDados" *ngIf="usuario">
    <h1 class="h1">Dados básicos</h1>
    <div class="divInput">
      <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="usuario[0].nome" (keypress)="onKeyPressWord($event)"/>
        <label htmlFor="username">Nome completo</label>
      </span>
    </div>
    <div class="divInput">
      <span class="p-float-label">
        <p-inputMask
          mask="(99) 99999-9999"
          [(ngModel)]="usuario[0].telefone"
          id="telefonePrincipal"
          #telefoneprincipal="ngModel"
          ></p-inputMask>
        <label htmlFor="Telefone principal">Telefone</label>
      </span>
    </div>
    <div class="divInput">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input [disabled]="true" pInputText id="username" [(ngModel)]="usuario[0].email" />
          <label htmlFor="username">Email</label>
        </span>
        <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
     </div>
    </div>
    <div class="containerBotoes">
      <div class="botaoSalvarAlterações">
        <p-button label="Salvar alterações" styleClass="p-button-raised p-button-success"></p-button>
      </div>
    </div>
    <hr class="hr">
    <div class="containerBotoesExcluirESalvarConta">
      <div class="botaoAlterarSenha">
        <p-button (click)="showDialog('senha')" label="Alterar senha" styleClass="p-button-raised p-button-warning"></p-button>
      </div>
      <div class="botaoAlterarSenha">
        <p-button (click)="showDialog('email')" label="Alterar email" styleClass="p-button-raised"></p-button>
      </div>
    </div>
  </div>

  <div class="containerEnderecos" *ngIf="usuario">
    <div *ngIf="divEnderecos">
      <div class="botaoAdicionarEndereco">
        <p-button (click)="abrirDialogNewAddress()" label="Adicionar novo endereço" styleClass="p-button-raised p-button-primary"></p-button>
      </div>
      <div class="containerEnderecoLoop">
        <div *ngFor="let endereco of enderecosEntrega | slice:first:first + rows" class="containerEnderecoDados">
          <div class="labelIdentificacao">
            <h2 class="h2">
              {{endereco.identificacao}}
            </h2>
            <div class="botao">
              <p-button (onClick)="editAddress(endereco)" label="Editar" styleClass="p-button-outlined p-button-primary"></p-button>
            </div>
          </div>
          <div class="labelRuaEResidencia">
            {{endereco.endereco}}, {{endereco.numeroResidencia}}
          </div>
          <div class="labelCidadeEBairro">
            {{endereco.cidade}} - {{endereco.bairro}}
          </div>
          <div class="labelCep">
            CEP: {{endereco.cep}}
          </div>
        </div>
      </div>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="calculateTotalRecords()">
      </p-paginator>
    </div>

    <div class="cadastrarNovoEndereçoContainer" *ngIf="divNovoEndereco">
      <div class="containerBotaoEH1">
        <p-button  (onClick)="showDialogEnderecos()"  class="botaoVoltar"
        icon="fa-solid fa-chevron-left" styleClass="p-button-rounded p-button-text"></p-button>
        <div class="labelCadastrarNovoEnd">Cadastrar novo endereço</div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="identificacao" [(ngModel)]="identificacao" />
            <label htmlFor="identificacao">Identificação</label>
          </span>
        </div>
      </div>
      <div class="cepECidade">
        <div class="divInput cep">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="cep" [(ngModel)]="cep" (input)="onCepInput()" />
              <label htmlFor="cep">CEP</label>
            </span>
          </div>
        </div>
        <div class="divInput">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="cidade" [(ngModel)]="cidade" [disabled]="disableAddressFields" />
              <label htmlFor="cidade">Cidade</label>
            </span>
            <span class="p-inputgroup-addon">
              <i class="fa-solid fa-lock"></i>
          </span>
          </div>
        </div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="bairro" [(ngModel)]="bairro" [disabled]="disableAddressFields" />
            <label htmlFor="bairro">Bairro</label>
          </span>
          <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
        </div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="logradouro" [(ngModel)]="logradouro" [disabled]="disableAddressFields" />
            <label htmlFor="logradouro">Logradouro</label>
          </span>
          <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
        </div>
      </div>
      <div class="NumeroEComplemento">
        <div class="divInput numero">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="numero" [(ngModel)]="numero" />
              <label htmlFor="numero">Número</label>
            </span>
          </div>
        </div>
        <div class="divInput">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="complemento" [(ngModel)]="complemento" />
              <label htmlFor="complemento">Complemento</label>
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="botaoSalvarEndereco">
          <p-button (click)="salvarEndereco()" *ngIf="buttonSalvarEnderecoNovoEndereco" label="Salvar endereço" styleClass="p-button-raised p-button-success"></p-button>
        </div>
        <div class="botaoSalvarEndereco">
          <p-button (click)="salvarEdicao()" *ngIf="buttonSalvarEnderecoEditar" label="Salvar edição" styleClass="p-button-raised p-button-success"></p-button>
        </div>
      </div>
    </div>


  </div>

  <p-dialog [focusTrap]="true" [closeOnEscape]="true" [draggable]="false" [resizable]="false" [(visible)]="dialogVisible" [style]="{ width: '50%', height: '70%' }">
    <div class="containerGeralDialog">
      <div class="containerLabelAlterarEmail">
        <div>
          <i [ngClass]="dialogType === 'email' ? 'fa-solid fa-envelope' : 'fa-solid fa-lock'" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <h1 class="h1Dialog">{{ dialogType === 'email' ? 'Alterar email' : 'Alterar senha' }}</h1>
        </div>
      </div>

      <div class="labelPreencherCampos">
        {{ dialogType === 'email' ? 'Preencha os campos abaixo para realizar a alteração de email.' : 'Preencha os campos abaixo para realizar a alteração de senha.' }}
      </div>

      <div class="containerInputsDialog">
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <input
              pInputText
              id="new-email"
              [(ngModel)]="newEmail"
              #newEmailInput="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
            <label htmlFor="new-email">Digite seu novo e-mail</label>
          </span>
          <small
            *ngIf="
            newEmailInput.invalid && (newEmailInput.dirty  || newEmailInput.touched)
            "
            class="p-error"
          >
            Formato de email inválido
          </small>
        </div>
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <input
              pInputText
              id="new-email"
              [(ngModel)]="newEmailConfirm"
              #newEmailConfirmInput="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
            <label htmlFor="new-email">Confirme seu novo e-mail</label>
          </span>
          <small
            *ngIf="
            newEmailConfirmInput.invalid && (newEmailConfirmInput.dirty  || newEmailConfirmInput.touched)
            "
            class="p-error"
          >
            Formato de email inválido
          </small>
        </div>
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <input pInputText id="token" [(ngModel)]="tokenEmail" />
            <label htmlFor="token">Insira o código que foi enviado ao seu email atual</label>
          </span>
        </div>

        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <p-password
              id="password"
              type="password"
              name="password"
              #passwordInput="ngModel"
              [(ngModel)]="newPassword"
              [feedback]="false"
              [toggleMask]="true"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            ></p-password>
            <label htmlFor="current-password">Digite sua nova senha</label>
          </span>
          <small
                *ngIf="
                passwordInput.invalid &&
                  (passwordInput.dirty  || passwordInput.touched)
                "
                class="p-error"
              >
                Formato de senha invalido. A senha deve conter no mínimo 8
                caracteres com pelo menos uma letra e um número.
              </small>
        </div>
        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <p-password
              id="passwordRepetir"
              type="passwordRepetir"
              name="passwordRepetir"
              #passwordInputConfirm="ngModel"
              placeholder="Digite novamente sua senha"
              [(ngModel)]="newPasswordConfirm"
              [feedback]="false"
              [toggleMask]="true"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            ></p-password>
            <label htmlFor="new-password">Confirme sua nova senha</label>
          </span>
          <small *ngIf="newPassword != newPasswordConfirm" class="p-error">
            As senhas devem ser iguais e atender ao formato de senha exigido.
          </small>
        </div>
        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <input pInputText id="token" [(ngModel)]="tokenSenha" />
            <label htmlFor="token">Insira o código que foi enviado ao seu email atual</label>
          </span>
        </div>
        <div class="botaoDialog">
          <p-button
            *ngIf="dialogType === 'senha'"
            label="Alterar senha"
            [disabled]="isButtonDisabledSenha()"
          ></p-button>
          <p-button
            *ngIf="dialogType === 'email'"
            label="Alterar email"
            [disabled]="isButtonDisabled()"
          ></p-button>
        </div>
      </div>
    </div>
  </p-dialog>



</div>




