<div class="divGeral">

  <div class="containerDados" *ngIf="usuario">
    <h1 class="h1">Dados básicos</h1>
    <div class="divInput">
      <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="usuario[0].nome" />
        <label htmlFor="username">Nome completo</label>
      </span>
    </div>
    <div class="divInput">
      <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="usuario[0].telefone" />
        <label htmlFor="username">Telefone</label>
      </span>
    </div>
    <div class="divInput">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input [disabled]="true" pInputText id="username" [(ngModel)]="usuario[0].email" />
          <label htmlFor="username">Email</label>
        </span>
        <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
     </div>
    </div>
    <div class="divInput">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input [disabled]="true" pInputText id="username" [(ngModel)]="usuario[0].cpfOuCnpj" />
          <label htmlFor="username">CPF</label>
        </span>
        <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
     </div>
    </div>
    <div class="containerBotoes">
      <div class="botaoAlterarEmail">
        <p-button (click)="showDialog('email')" label="Alterar email" styleClass="p-button-raised p-button-warning"></p-button>
      </div>
      <div class="botaoAlterarSenha">
        <p-button (click)="showDialog('senha')" label="Alterar senha" styleClass="p-button-raised p-button-warning"></p-button>
      </div>
    </div>
    <hr class="hr">
    <div class="containerBotoesExcluirESalvarConta">
      <div class="botaoAlterarEmail">
        <p-button (click)="showDialogSalvar()" label="Salvar alterações" styleClass="p-button-raised p-button-success"></p-button>
      </div>
      <div class="botaoAlterarSenha">
        <p-button label="Excluir conta" styleClass="p-button-raised p-button-danger"></p-button>
      </div>
    </div>
  </div>

  <div class="containerEnderecos" *ngIf="usuario">
    <div *ngIf="divEnderecos">
      <div class="botaoAdicionarEndereco">
        <p-button (click)="addNewAddress()" label="Adicionar novo endereço" styleClass="p-button-raised p-button-primary"></p-button>
      </div>
      <div *ngFor="let usuario of usuario" class="containerEnderecoLoop">
        <div *ngFor="let endereco of usuario.enderecoEntrega | slice:first:first + rows" class="containerEnderecoDados">
          <div class="labelIdentificacao">
            <h2 class="h2">{{endereco.identificacao}}</h2>
            <div class="botao">
              <p-button (click)="editAddress(endereco)" label="Editar" styleClass="p-button-outlined p-button-primary"></p-button>
            </div>
          </div>
          <div class="labelRuaEResidencia">
            {{endereco.rua}}, {{endereco.numeroResidencia}}
          </div>
          <div class="labelCidadeEBairro">
            {{endereco.cidade}} - {{endereco.bairro}}
          </div>
          <div class="labelCep">
            CEP: {{endereco.cep}}
          </div>
        </div>
      </div>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="calculateTotalRecords()">
      </p-paginator>
    </div>

    <div class="cadastrarNovoEndereçoContainer" *ngIf="divNovoEndereco">
      <div class="containerBotaoEH1">
        <p-button  (onClick)="showDialogEnderecos()"  class="botaoVoltar"
        icon="fa-solid fa-chevron-left" styleClass="p-button-rounded p-button-text"></p-button>
        <div class="labelCadastrarNovoEnd">Cadastrar novo endereço</div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="identificacao" [(ngModel)]="identificacao" />
            <label htmlFor="identificacao">Identificação</label>
          </span>
        </div>
      </div>
      <div class="cepECidade">
        <div class="divInput cep">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="cep" [(ngModel)]="cep" (input)="onCepInput()" />
              <label htmlFor="cep">CEP</label>
            </span>
          </div>
        </div>
        <div class="divInput">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="cidade" [(ngModel)]="cidade" [disabled]="disableAddressFields" />
              <label htmlFor="cidade">Cidade</label>
            </span>
            <span class="p-inputgroup-addon">
              <i class="fa-solid fa-lock"></i>
          </span>
          </div>
        </div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="bairro" [(ngModel)]="bairro" [disabled]="disableAddressFields" />
            <label htmlFor="bairro">Bairro</label>
          </span>
          <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
        </div>
      </div>
      <div class="divInput">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText id="logradouro" [(ngModel)]="logradouro" [disabled]="disableAddressFields" />
            <label htmlFor="logradouro">Logradouro</label>
          </span>
          <span class="p-inputgroup-addon">
            <i class="fa-solid fa-lock"></i>
        </span>
        </div>
      </div>
      <div class="NumeroEComplemento">
        <div class="divInput numero">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="numero" [(ngModel)]="numero" />
              <label htmlFor="numero">Número</label>
            </span>
          </div>
        </div>
        <div class="divInput">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="complemento" [(ngModel)]="complemento" />
              <label htmlFor="complemento">Complemento</label>
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="botaoSalvarEndereco">
          <p-button (onClick)="showDialogEnderecos()" label="Salvar alterações" styleClass="p-button-raised p-button-success"></p-button>
        </div>
      </div>
    </div>


  </div>

  <p-dialog [focusTrap]="true" [closeOnEscape]="true" [draggable]="false" [resizable]="false" [(visible)]="dialogVisible" [style]="{ width: '50%', height: '65%' }">
    <div class="containerGeralDialog">
      <div class="containerLabelAlterarEmail">
        <div>
          <i [ngClass]="dialogType === 'email' ? 'fa-solid fa-envelope' : 'fa-solid fa-lock'" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <h1 class="h1Dialog">{{ dialogType === 'email' ? 'Alterar email' : 'Alterar senha' }}</h1>
        </div>
      </div>

      <div class="labelPreencherCampos">
        {{ dialogType === 'email' ? 'Preencha os campos abaixo para realizar a alteração de email.' : 'Preencha os campos abaixo para realizar a alteração de senha.' }}
      </div>

      <div class="containerInputsDialog">
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <input pInputText id="new-email" [(ngModel)]="newEmail" />
            <label htmlFor="new-email">Digite seu novo e-mail</label>
          </span>
        </div>
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <input pInputText id="new-email" [(ngModel)]="newEmail" />
            <label htmlFor="new-email">Confirme seu novo e-mail</label>
          </span>
        </div>
        <div class="divInput" *ngIf="dialogType === 'email'">
          <span class="p-float-label">
            <p-password id="current-password" [(ngModel)]="currentPassword" [feedback]="false" [toggleMask]="true"></p-password>
            <label htmlFor="current-password">Digite sua senha</label>
          </span>
        </div>

        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <p-password id="current-password" [(ngModel)]="currentPassword" [feedback]="false" [toggleMask]="true"></p-password>
            <label htmlFor="current-password">Digite sua senha atual</label>
          </span>
        </div>
        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <p-password id="new-password" [(ngModel)]="newPassword" [feedback]="false" [toggleMask]="true"></p-password>
            <label htmlFor="new-password">Digite a nova senha</label>
          </span>
        </div>
        <div class="divInput" *ngIf="dialogType === 'senha'">
          <span class="p-float-label">
            <p-password id="confirm-new-password" [(ngModel)]="confirmNewPassword" [feedback]="false" [toggleMask]="true"></p-password>
            <label htmlFor="confirm-new-password">Confirme a nova senha</label>
          </span>
        </div>
        <div class="botaoDialog">
          <p-button (click)="alterarDados()" label="Enviar"></p-button>
        </div>
      </div>
    </div>
  </p-dialog>

  <p-dialog [focusTrap]="true" [closeOnEscape]="true" [draggable]="false" [resizable]="false" [(visible)]="dialogVisibleSalvar" [style]="{ width: '30%', height: '65%' }">
    <div class="containerGeralDialog">
      <div class="containerLabelAlterarMeusDados">
        <div>
          <i class="fa-solid fa-floppy-disk" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <h1 class="h1Dialog">Alterar meus dados</h1>
        </div>
      </div>

      <div class="labelPreencherCampos" >
        <div>
          Para realizarmos a alteração dos dados, enviaremos um código para seu celular ou e-mail cadastrado.
        </div>
        <div class="opcaoDesejada">
          Selecione a opção desejada:
        </div>
      </div>

      <div class="containerFormarEnvios" >

        <div class="envioEmail" *ngIf="usuario">
          <div class="containerIconLabel">
            <div>
              <i class="fa-solid fa-envelope" style="font-size: 1.5rem"></i>
            </div>
            <div>
              <h3 class="h1Dialog">Email</h3>
            </div>
            <br>
            <div class="containerLabelEmail">
              <div>Enviaremos o código para o email:</div>
              <br>
              <div class="labelEmail">
                {{usuario[0].email}}
              </div>
            </div>
          </div>
        </div>

        <div class="envioSms" *ngIf="usuario">
          <div class="containerIconLabel">
            <div>
              <i class="fa-solid fa-mobile-screen-button" style="font-size: 1.5rem"></i>
            </div>
            <div>
              <h3 class="h1Dialog">SMS</h3>
            </div>
            <br>
            <div class="containerLabelEmail">
              <div>Enviaremos o código para o telefone:</div>
              <br>
              <div class="labelEmail">
                {{usuario[0].telefone}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </p-dialog>

</div>




