<div class="divGeral">
  <div class="containerProduto" *ngIf="produto">
      <h1 class="nome">
        {{ produto.nome }}
      </h1>
      <div class="containerImagemEDescEPreco">
        <div class="imgContainer">
          <img [src]="produto.imagem" alt="Imagem do Produto" class="img">
        </div>
        <div class="containerDescEPreco">
          <h2 class="descricao">
            {{ produto.descricao }}
          </h2>
          <div class="precoEBotao">
            <h2 class="preco">
              {{ produto.preco }}
            </h2>
            <div class="botao">
              <p-button>Adicionar ao carrinho</p-button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


