.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.containerProduto{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 8px;
  margin-bottom: 15px;
}

.nome{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100px;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.462);
  border-top-left-radius : 8px;
  border-top-right-radius: 8px;
}

.descricao{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.462);
  border-right: 2px solid rgba(0, 0, 0, 0.462);
}

.precoEBotao{
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.462);
  border-bottom-right-radius: 8px;
}

.preco{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.botao{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid rgba(0, 0, 0, 0.462);
  border-bottom: 2px solid rgba(0, 0, 0, 0.462);
  border-bottom-left-radius: 8px;
  padding: 25px;
}

.containerFrete{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.labelFrete{
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.inputFreteEBotoes{
  display: flex;
  width: 100%;
}

.divInputEBotao{
  display: flex;
}

.margem{
  margin-right: 15px;
}

.img{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 8px;
  transition: 0.3s all ease;
  border: 2px solid rgba(0, 0, 0, 0.181);
}

img:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.containerImagemEDescEPreco{
  display: flex;
  width: 100%;
}

.containerDescEPreco{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.containerEspecificacaoTecnica{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  border: 2px solid rgba(0, 0, 0, 0.462);
}

.divH1{
  font-weight: 500;
}

.divDescricaoCompleta{
  font-size: 20px;
  font-weight: 400;
}

.containerComentarios{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 8px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.462);
}

.divComentariosUsuarios{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
}

.comentarioIndividual{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
  background-color: var(--container-interno-cards-produtos);
  border: 1px solid rgba(255, 255, 255, 0.418);
  margin-bottom: 4px;
  border-radius: 9px;
}

.containerImagem{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.comentario{
  margin-left: 10px;
  word-break: break-all;
}

.hr{
  width: 100%;
  margin-bottom: 25px;
}

.containerInputComentario{
  display: flex;
  width: 100%;
}

.inputQuant{
  width: 100%;
}

.botaoEnviarComentario{
  margin-left: 5px;
}

.sidenav-nav {
  display: flex;
  width: 100%;
  max-width: 150px;
  padding: 4px;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  align-items: center;

  .sidenav-nav-item{
    display: flex;
    width: 100%;
    height: 100%;


    .sidenav-nav-link{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem; /* Tamanho da altura dos botões */
      overflow: hidden;
      min-height: 3rem;
      max-height: 100%;
      width: 100%;
      background-color: var(--background-botoes);
      text-decoration: none;
      border-radius: 0.313rem;
      transition: all .3s ease;
      cursor: pointer;
      padding: 10px;


      .sidenav-link-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        text-align: center;
        color: var(--textos-e-icones-botoes);
      }

      .sidenav-link-text{
        font-size: 20px;
        margin-left: 5px;
        word-wrap: break-word;
        color: var(--textos-e-icones-botoes);
      }

      
    }

    .sidenav-nav-link-indisponivel{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem; /* Tamanho da altura dos botões */
      overflow: hidden;
      min-height: 3rem;
      max-height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.205);
      text-decoration: none;
      border-radius: 0.313rem;
      transition: all .3s ease;
      cursor: pointer;
      padding: 10px;
    }

    .sidenav-nav-link:hover{
      background-color: var(--hover-background-botoes);
    }

    .sidenav-nav-link-indisponivel:hover{
      background-color: rgba(0, 0, 0, 0.332);
    }
  }
}

@media (max-width: 880px) {

  .containerImagemEDescEPreco{
    flex-direction: column;
  }

  .imgContainer{
    border-right: 2px solid rgba(0, 0, 0, 0.462);;
    border-left: 2px solid rgba(0, 0, 0, 0.462);
    border-bottom: 2px solid rgba(0, 0, 0, 0.462);
    border-bottom-left-radius: 0px;
  }

  .precoEBotao{
    border: 2px solid rgba(0, 0, 0, 0.462);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px ;
  }

}


@media (max-width: 1220px){

  .inputFreteEBotoes{
    flex-direction: column;
  }

  .divNaoLembroOCep{
    margin-top: 15px;
  }

}

@media (max-width: 600px) {

  .divGeral{
    margin-top: 42px;

  }
}
