<div class="divGeral">

  <div class="containerProduto" *ngIf="produto || produtoDaCategoria">

    <h1 class="nome">
      {{ nomeProdutoFormatado }}
    </h1>
    <div class="containerImagemEDescEPreco">
      <div class="imgContainer">
        <p-carousel [value]="getProdutoImages()" [numVisible]="1" [numScroll]="1" [circular]="true" [showIndicators]="false">
          <ng-template pTemplate="item" let-imagem>
            <div class="containerImagem">
              <img [src]="imagem" alt="imagem produto" class="img">
            </div>
          </ng-template>
        </p-carousel>
        <div class="containerFrete">
          <div class="labelFrete">
              Consultar frete e prazo de entrega
          </div>
          <div class="inputFreteEBotoes">
            <div class="divInputEBotao margem">
              <p-inputMask mask="99999-999" [(ngModel)]="cep" placeholder="CEP" class="margem"></p-inputMask>
              <p-button label="Enviar" styleClass="p-button-outlined"></p-button>
            </div>
            <div class="divNaoLembroOCep">
              <p-button label="Não lembro do meu cep" styleClass="p-button-link" class="buttonNaoLembroOCep"></p-button>
            </div>
          </div>
        </div>
      </div>
      <div class="containerDescEPreco">
        <h2 class="descricao">
          {{ produto?.descCompleta }}
        </h2>
        <div class="precoEBotao">
          <h2 class="preco">
            R$ {{ produto?.preco?.toFixed(2) }}
          </h2>
          <div class="botao">
            <p-button (click)="adicionarAoCarrinho(produto || produtoDaCategoria)">Adicionar ao carrinho</p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="produto" class="containerEspecificacaoTecnica">
    <h1 class="divH1">
      INFORMAÇÕES TÉCNICAS
    </h1>

    <h2 class="divDescricaoCompleta">
      {{ produto.especificacaoTecnica}}
    </h2>
  </div>

  <div *ngIf="produto" class="containerComentarios">
    <h1 class="divH1">
      COMENTÁRIOS DOS USUÁRIOS
    </h1>

    <h2 class="divComentariosUsuarios">
      <div *ngFor="let comentario of produto?.comentariosProduto" class="comentarioIndividual">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <div class="comentario">
          {{ comentario?.comentario }}
        </div>
      </div>
    </h2>
    <hr class="hr">

    <!-- Campo de entrada para adicionar um novo comentário -->
    <div class="containerInputComentario">
      <input class="inputQuant" pInputText type="text" placeholder="Adicionar comentário" [(ngModel)]="novoComentario" />
      <p-button icon="fa-solid fa-check" class="botaoEnviarComentario" (onClick)="adicionarComentario()"></p-button>
    </div>
  </div>
</div>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'700ms'"
  [hideTransitionOptions]="'700ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>
