<div class="divGeral">
  <div class="containerInputs">
    <div class="containerNomeECpf">
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Nome completo</label>
        </span>
      </div>
      <div class="divInputCpf">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">CPF ou CNPJ</label>
        </span>
      </div>
    </div>
    <div class="containerEmailETelefone">
      <div class="divInputEmail">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Email</label>
        </span>
      </div>
      <div class="divInputTelefone">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Telefone</label>
        </span>
      </div>
    </div>
    <div class="containerCepECidade">
      <div class="divInputCep">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">CEP</label>
        </span>
      </div>
      <div class="divInputCidade">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Cidade</label>
        </span>
      </div>
    </div>
    <div class="containerBairroRuaENumeroResidencia">
      <div class="divInputBairro">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Bairro</label>
        </span>
      </div>
      <div class="divInputRua">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Rua</label>
        </span>
      </div>
      <div class="divInputNumeroResidencia">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Nº da residência</label>
        </span>
      </div>
    </div>
  </div>
  <div>

    <div class="card">

      <p-table
      #dt
      [value]="usuariosFiltrados" selectionMode="single"
      [(selection)]="usuarioSelecionado"
      [rowHover]="true"
      [tableStyle]="{'min-width': '50rem'}"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 15]"
      [filterDelay]="0"
      >
      <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Cliente" />
            </span>
        </div>
      </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>CPF ou CNPJ</th>
                  <th>Telefone</th>
                  <th>CEP</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr [pSelectableRow]="usuario">
                <td>{{ usuario?.nome }}</td>
                <td>{{ usuario?.email }}</td>
                <td>{{ usuario?.cpfOuCnpj }}</td>
                <td>{{ usuario?.telefone }}</td>
                <td>{{ usuario?.cep }}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
