.divGeral {
  display: flex;
  width: 100%;
  padding: 13px;
  flex-direction: column;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 6px;
}

.divInputNome{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

.divInputCpf{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputEmail{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputTelefone{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.divInputEmailAlternativo{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
}

.divDropDown{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.divInputCep{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputSelecao{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputCidade{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divDropdownEstado{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.divInputBairro{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputComplemento{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;

}

.divInputRua{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.divInputNumeroResidencia{
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 13px 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.containerInputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.containerInputsEntrega{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.containerNomeECpf{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerSelecaoEndereco{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerEmailETelefone{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerSwitchs{
  display: flex;
  margin-bottom: 10px;
}

.switchEmailAlternativo{
  display: flex;
  width: 100%;
  align-items: center;
}

.switchTelefoneAlternativo{
  display: flex;
  width: 100%;
  align-items: center;
}

.labelEmailAlternativo{
  margin-left: 10px;
}

.labelTelefoneAlternativo{
  margin-left: 10px;
}

.containerEmailAlternativo{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.containerAlternativos{
  display: flex;
  width: 100%;
}

.containerGeralEmailAlternativo{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 5px;
}

.containerGeralTelefoneAlternativo{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerInputEDropDown{
  display: flex;
  flex-direction: column;
}

.containerTelefoneAlternativo{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.containerCepECidade{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerBairroRuaENumeroResidencia{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerBotoes{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.containerBotoesAlternativo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.divBotoes{
  width: 100%;
  display: flex;
}

.botoes{
  margin-top: 15px;
}

.divInputs{
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 10px;
}

.tabelaClientes{
  margin-top: 30px;
}

.hr{
  width: 100%;
}

.hr2{
  width: 100%;
  margin-top: 25px;
}

.containerLabelEntregaESwitch{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerDosContainers{
  display: flex;
  flex-direction: column;
}

.senhas {
  display: flex;
  justify-content: space-between;
}

.senha {
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.inputs {
  width: 100%;
}

.tamanhoInputs {
  width: 49.7%;
}

.p-password {
  display: flex;
  width: 100%;
  justify-content: center;
}

.p-error{
  display: flex;
  max-width: 350px;
}

.containerCpfEstado{
  display: flex;
}

:host ::ng-deep .p-inputtext{
  width: 100%;
}

:host ::ng-deep .p-button{
  width: 100%;
}

:host ::ng-deep .p-dropdown{
  width: 100%;
}

:host ::ng-deep .p-inputnumber{
  width: 100%;
}

@media (max-width: 600px) {

  .divGeral{
    margin-top: 42px;

  }
}

@media (max-width: 960px) {

  .divInputTelefone{
    width: 100%;
  }

}

@media (max-width: 1220px) {

  .divInputNome{
    width: 100%;
  }

  .containerNomeECpf{
    flex-direction: column;
  }


}