<div class="divGeral">
  <h1>Gerenciamento de Clientes</h1>
  <div class="containerInputs">
    <div class="containerNomeECpf">
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username"
          [(ngModel)]="nome"
          (keypress)="onKeyPressWord($event)"
          />
          <label htmlFor="username"
          >Nome completo</label>
        </span>
      </div>
      <div class="containerCpfEstado">
        <div class="divInputCpf">
          <span class="p-float-label">
            <input
              pInputText
              id="cpfoucnpj"
              [(ngModel)]="cpfOuCnpj"
              (keypress)="onKeyPress($event)"
            />
            <label htmlFor="username"
            >CPF ou CNPJ</label>
          </span>
        </div>
        <div class="divDropdownEstado">
          <p-dropdown
            [options]="tipoUsuario"
            [showClear]="true"
            [(ngModel)]="tipoUsuarioSelecionado"
            (onChange)="tipoUsuarioSelecionadoDropdown($event)"
            placeholder="Tipo de usuário"
            optionLabel="nome">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="containerEmailETelefone">
      <div class="divInputEmail">
        <span class="p-float-label">
          <input
            pInputText
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailInput="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            (ngModelChange)="validateEmail()"
          />
          <label htmlFor="email">Email principal</label>
      </span>
        <small
          *ngIf="
          emailInput.invalid && (emailInput.dirty  || emailInput.touched)
          "
          class="p-error"
        >
          Formato de email inválido
        </small>
      </div>
      <div class="divInputTelefone">
        <span class="p-float-label">
          <p-inputMask mask="(99) 99999-9999" [(ngModel)]="telefone"></p-inputMask>
          <label htmlFor="username">Telefone principal</label>
        </span>
      </div>
    </div>
    <div class="senhas">
      <div class="senha field p-fluid mt-4 tamanhoInputs">
        <div class="inputs">
          <span class="p-float-label">
            <p-password
              id="password"
              type="password"
              name="password"
              #passwordInputCadastro="ngModel"
              placeholder="Digite sua senha"
              [(ngModel)]="passwordCadastro"
              [disabled]="habilitarPassword"
              [feedback]="false"
              [toggleMask]="true"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            ></p-password>
            <label htmlFor="senha">Senha</label>
          </span>
          <small
            *ngIf="
              passwordInputCadastro.invalid &&
              (passwordInputCadastro.dirty  || passwordInputCadastro.touched)
            "
            class="p-error"
          >
            Formato de senha invalido. A senha deve conter no mínimo 8
            caracteres com pelo menos uma letra e um número.
          </small>
        </div>
      </div>
      <div class="senha field p-fluid mt-4 tamanhoInputs">
        <div class="inputs">
          <span class="p-float-label">
            <p-password
              id="passwordRepetir"
              type="passwordRepetir"
              name="passwordRepetir"
              #passwordInputCadastroRepetir="ngModel"
              [(ngModel)]="passwordCadastroRepetir"
              [disabled]="habilitarPassword"
              [feedback]="false"
              [toggleMask]="true"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            ></p-password>
            <label htmlFor="Password repetir">Repita a senha</label>
          </span>
          <small *ngIf="passwordCadastro != passwordCadastroRepetir" class="p-error">
            As senhas devem ser iguais e atender ao formato de senha exigido.
          </small>
        </div>
      </div>
    </div>

  <div class="containerAlternativos">

        <div class="containerGeralEmailAlternativo">
          <div class="containerSwitchs">
            <div class="switchEmailAlternativo">
              <p-inputSwitch [(ngModel)]="habilitarEmailAlternativo" ></p-inputSwitch>
              <div class="labelEmailAlternativo">
                Email alternativo
              </div>
            </div>
          </div>
          <div class="containerEmailAlternativo" *ngIf="habilitarEmailAlternativo">
            <div class="containerInputEDropDown">
              <div class="divInputEmailAlternativo">
                <span class="p-float-label">
                  <input
                    pInputText
                    id="emailAlternativo"
                    name="emailAlternativo"
                    [(ngModel)]="emailAlternativo"
                    #emailInputAlternativo="ngModel"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    (ngModelChange)="validateEmail()"
                    />
                  <label htmlFor="emailAlternativo">Email Alternativo</label>
                </span>
                <small
                  *ngIf="
                  emailInputAlternativo.invalid && (emailInputAlternativo.dirty  || emailInputAlternativo.touched)
                  "
                  class="p-error"
                >
                  Formato de email inválido
                </small>
              </div>
              <div class="divDropDown">
                <p-dropdown
                  [options]="emailsFiltrados"
                  [(ngModel)]="emailsFiltradoSelecionado"
                  (onChange)="emailAlternativoSelecionado($event)"
                  optionLabel="email"
                  [filter]="true"
                  filterBy="email"
                  [showClear]="true"
                  placeholder="Selecione o email alternativo"
                  *ngIf="botaoDiv"
                >

                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="emailsFiltradoSelecionado">
                      <div>{{ emailsFiltradoSelecionado.email }}</div>
                    </div>
                  </ng-template>
                  <!-- Item Template -->
                  <ng-template let-email pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ email.email }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="containerBotoesAlternativo" *ngIf="botaoDiv">
              <div class="divBotoes">
                <div class="widthBotao espacamento">
                  <p-button label="Adicionar"
                  styleClass="p-button-raised p-button-success"
                  [disabled]="!emailAlternativoValid()"
                  (onClick)="cadastrarEmailAlternativo()"
                  ></p-button>
                </div>
                <div class="widthBotao">
                  <p-button label="Atualizar"
                  styleClass="p-button-raised p-button-warning"
                  [disabled]="emailAlternativoAtualizarValid() ||!habilitarBotaoEmailAlternativo"
                  (onClick)="atualizarEmailAlternativo()"
                  ></p-button>
                </div>
              </div>
              <div class="divBotoes botoes">
                <div class="widthBotao espacamento">
                  <p-button label="Excluir"
                  styleClass="p-button-raised p-button-danger"
                  [disabled]="!habilitarBotaoEmailAlternativo ||!emailAlternativo"
                  (onClick)="excluirUnicoEmailAlternativo()"
                  ></p-button>
                </div>
                <div class="widthBotao">
                  <p-button label="Limpar campos"
                  [disabled]="!emailAlternativo"
                  (click)="limparCamposEmailAlternativo()"
                  styleClass="p-button-raised p-button-info"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="containerGeralTelefoneAlternativo">
          <div class="containerSwitchs">
            <div class="switchTelefoneAlternativo">
              <p-inputSwitch [(ngModel)]="habilitarTelefoneAlternativo" ></p-inputSwitch>
              <div class="labelTelefoneAlternativo">
                Telefone alternativo
              </div>
            </div>
          </div>
          <div class="containerTelefoneAlternativo" *ngIf="habilitarTelefoneAlternativo">
            <div class="containerInputEDropDown">
              <div class="divInputEmailAlternativo">
                <span class="p-float-label">
                  <p-inputMask mask="(99) 99999-9999" [(ngModel)]="telefoneAlternativo"></p-inputMask>
                  <label htmlFor="username"
                  >Telefone alternativo</label>
                </span>
              </div>
              <div class="divDropDown">
                <p-dropdown
                  optionLabel="telefone"
                  [options]="telefonesAlternativos"
                  [(ngModel)]="telefoneAlternativoSelecionadoInput"
                  (onChange)="telefoneAlternativoSelecionado($event)"
                  [filter]="true"
                  filterBy="nome"
                  [showClear]="true"
                  placeholder="Selecione o telefone alternativo"
                  *ngIf="botaoDiv"
                >
                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="telefoneAlternativoSelecionadoInput">
                      <div>{{ telefoneAlternativoSelecionadoInput.telefone }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-telefone pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ telefone.telefone }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="containerBotoesAlternativo" *ngIf="botaoDiv">
              <div class="divBotoes">
                <div class="widthBotao espacamento">
                  <p-button label="Adicionar"
                  styleClass="p-button-raised p-button-success"
                  [disabled]="!telefoneAlternativo"></p-button>
                </div>
                <div class="widthBotao">
                  <p-button label="Atualizar"
                  styleClass="p-button-raised p-button-warning"
                  [disabled]="!habilitarBotaoTelefoneAlternativo ||!telefoneAlternativo"></p-button>
                </div>
              </div>
              <div class="divBotoes botoes">
                <div class="widthBotao espacamento">
                  <p-button label="Excluir"
                  styleClass="p-button-raised p-button-danger"
                  [disabled]="!habilitarBotaoTelefoneAlternativo ||!telefoneAlternativo"></p-button>
                </div>
                <div class="widthBotao">
                  <p-button label="Limpar campos"
                  (click)="limparCamposTelefoneAlternativo()"
                  styleClass="p-button-raised p-button-info"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <hr class="hr">
  <h2>Endereço de cobrança</h2>
  <div class="containerCepECidade">
    <div class="containerCidadeEstado">
      <div class="divInputCep">
        <span class="p-float-label">
          <p-inputMask mask="99999-999" [(ngModel)]="cep"></p-inputMask>
          <label htmlFor="username">CEP</label>
        </span>
      </div>
      <div class="divInputCidade">
        <span class="p-float-label">
          <input pInputText id="cidade"
          [(ngModel)]="cidade"/>
          <label htmlFor="username">Cidade</label>
        </span>
      </div>
    </div>
      <div class="divDropdownEstado">
        <p-dropdown
          [options]="estado"
          [showClear]="true"
          [(ngModel)]="estadoSelecionadoCobranca"
          placeholder="Estado"
          optionLabel="nome">
        </p-dropdown>
      </div>

  </div>
  <div class="containerBairroRuaENumeroResidencia">
    <div class="containerBairroRua">
      <div class="divInputBairro">
        <span class="p-float-label">
          <input pInputText id="bairro"
          [(ngModel)]="bairro"/>
          <label htmlFor="username">Bairro</label>
        </span>
      </div>
      <div class="divInputRua">
        <span class="p-float-label">
          <input pInputText
          id="rua"
          [(ngModel)]="rua"
          >
          <label htmlFor="username">Rua</label>
        </span>
      </div>
    </div>
    <div class="containerNumeroComplemento">
      <div class="divInputNumeroResidencia">
        <span class="p-float-label">
          <input pInputText
          id="numeroresidencia"
          [(ngModel)]="numeroResidencia"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          <label htmlFor="username">Nº da residência</label>
        </span>
      </div>
      <div class="divInputComplemento">
        <span class="p-float-label">
          <input pInputText id="complemento"
          [(ngModel)]="complemento"/>
          <label htmlFor="complemento">Complemento</label>
        </span>
      </div>
    </div>
  </div>
  </div>










  <div class="containerInputsEntrega">
    <hr class="hr">
    <div class="containerLabelEntregaESwitch">
      <h2>Endereço de entrega</h2>
      <div class="containerSwitchs">
        <div class="switchEmailAlternativo">
          <p-inputSwitch [(ngModel)]="habilitarEnderecoEntrega" ></p-inputSwitch>
          </div>
      </div>
    </div>
    <div class="containerDosContainers" *ngIf="habilitarEnderecoEntrega">
      <div class="containerSelecaoEndereco">
        <div class="divInputSelecao">
          <span class="p-float-label">
            <input pInputText id="username"
            [(ngModel)]="identificacaoEndereco"
            />
            <label htmlFor="username"
            >Identificação</label>
          </span>
        </div>
        <div class="divDropDown">
          <p-dropdown
            [options]="enderecosFiltradosEntrega"
            [(ngModel)]="enderecoFiltradoSelecionado"
            (onChange)="enderecoEntregaSelecionado($event)"
            optionLabel="identificacao"
            [disabled]="!habilitarDropdownEnderecosEntrega"
            [filter]="true"
            filterBy="identificacao"
            [showClear]="true"
            placeholder="Selecione o endereço de entrega"
          >
          <!-- Selected Item Template -->
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="enderecoFiltradoSelecionado">
                <div>{{ enderecoFiltradoSelecionado.identificacao }}</div>
              </div>
            </ng-template>
            <!-- Item Template -->
            <ng-template let-endereco pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ endereco.identificacao }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="containerCepECidade">
        <div class="containerCepCidadeEntrega">
          <div class="divInputCep">
            <span class="p-float-label">
              <p-inputMask mask="99999-999" [(ngModel)]="cepEntrega"
              ></p-inputMask>
              <label htmlFor="username">CEP</label>
            </span>
          </div>
          <div class="divInputCidade">
            <span class="p-float-label">
              <input pInputText id="username"
              [(ngModel)]="cidadeEntrega"/>
              <label htmlFor="username">Cidade</label>
            </span>
          </div>
        </div>
        <div class="divDropdownEstado">
          <p-dropdown [options]="estado"  [showClear]="true" [(ngModel)]="estadoSelecionadoEntrega" placeholder="Estado" optionLabel="nome"></p-dropdown>
        </div>
      </div>
      <div class="containerBairroRuaENumeroResidencia">
        <div class="containerBairroRuaEntrega">
          <div class="divInputBairro">
            <span class="p-float-label">
              <input pInputText id="username"
              [(ngModel)]="bairroEntrega"
              />
              <label htmlFor="username">Bairro</label>
            </span>
          </div>
          <div class="divInputRua">
            <span class="p-float-label">
              <input pInputText
              id="username"
              [(ngModel)]="ruaEntrega"
              >
              <label htmlFor="username">Rua</label>
            </span>
          </div>
        </div>
        <div class="containerNumeroComplementoEntrega">
          <div class="divInputNumeroResidencia">
            <span class="p-float-label">
              <input pInputText
              id="username"
              [(ngModel)]="numeroResidenciaEntrega"
              oninput="this.value = this.value.replace(/[^0-9]/g, '')">
              <label htmlFor="username">Nº da residência</label>
            </span>
          </div>
          <div class="divInputComplemento">
            <span class="p-float-label">
              <input pInputText id="complemento"
              [(ngModel)]="complementoEntrega"/>
              <label htmlFor="complemento">Complemento</label>
            </span>
          </div>
        </div>
      </div>
      <div class="containerBotoes" *ngIf="botaoDiv">
          <div class="containerBotoesUm">
            <div class="divInputs">
              <p-button label="Adicionar endereço"
              [disabled]="botaoDisabledEntrega ||
              !identificacaoEndereco ||
              !cepEntrega ||
              !cidadeEntrega ||
              !estadoSelecionadoEntrega ||
              !bairroEntrega ||
              !ruaEntrega ||
              !numeroResidenciaEntrega ||
              !complementoEntrega"  styleClass="p-button-raised p-button-success"
              (onClick)="cadastrarEnderecoEntrega()"
              ></p-button>
            </div>
            <div class="divInputs">
              <p-button label="Atualizar endereço"
              [disabled]="!botaoDisabledEntrega ||
              !identificacaoEndereco ||
              !cepEntrega ||
              !cidadeEntrega ||
              !estadoSelecionadoEntrega ||
              !bairroEntrega ||
              !ruaEntrega ||
              !numeroResidenciaEntrega ||
              !complementoEntrega"
              (onClick)="atualizarEnderecoEntrega()"
              styleClass="p-button-raised p-button-warning"></p-button>
            
            </div>
          </div>
          <div class="containerBotoesDois">
            <div class="divInputs">
              <p-button label="Excluir endereço"
              [disabled]="!botaoDisabledEntrega ||
              !identificacaoEndereco ||
              !cepEntrega ||
              !cidadeEntrega ||
              !estadoSelecionadoEntrega ||
              !bairroEntrega ||
              !ruaEntrega ||
              !numeroResidenciaEntrega ||
              !complementoEntrega"
              styleClass="p-button-raised p-button-danger"
              (onClick)="excluirUnicoEnderecoEntrega()"
              ></p-button>
            </div>
            <div class="divInputs">
              <p-button label="Limpar campos"
              [disabled]="!identificacaoEndereco &&
              !cepEntrega &&
              !cidadeEntrega &&
              !estadoSelecionadoEntrega &&
              !bairroEntrega &&
              !ruaEntrega &&
              !numeroResidenciaEntrega &&
              !complementoEntrega"
              (click)="limparCamposEnderecoEntrega()"
              styleClass="p-button-raised p-button-info"
              ></p-button>
            </div>
          </div>
      </div>
    </div>
    <hr class="hr2">
  </div>

  <div class="containerBotoes">
      <div class="containerBotoesUm">
        <div class="divInputs">
          <p-button
            label="Adicionar usuário"
            [disabled]="!isValid()"
            styleClass="p-button-raised p-button-success"
            (onClick)="cadastrarUsuario()"
          ></p-button>
        
        
        </div>
        <div class="divInputs">
          <p-button label="Atualizar usuário"
            [disabled]="!botaoDisabled ||
            !nome ||
            !cpfOuCnpj ||
            !tipoUsuarioSelecionado ||
            !email ||
            !emailValid ||
            !telefone ||
            !cep ||
            !cidade ||
            !estadoSelecionadoCobranca ||
            !bairro ||
            !rua ||
            !numeroResidencia ||
            !complemento"
            (onClick)="atualizarUsuario()"
            styleClass="p-button-raised p-button-warning">
          </p-button>
        
        </div>
      </div>
      <div class="containerBotoesDois">
        <div class="divInputs">
          <p-button label="Excluir conta"
          [disabled]="!botaoDisabled ||
            !nome ||
            !cpfOuCnpj ||
            !tipoUsuarioSelecionado ||
            !email ||
            !emailValid ||
            !telefone ||
            !cep ||
            !cidade ||
            !estadoSelecionadoCobranca ||
            !bairro ||
            !rua ||
            !numeroResidencia ||
            !complemento"
          styleClass="p-button-raised p-button-danger"
          (onClick)="excluirUsuario()"
          ></p-button>
        
        </div>
        <div class="divInputs">
          <p-button label="Limpar campos"
          [disabled]="
          !nome &&
          !cpfOuCnpj &&
          !tipoUsuarioSelecionado &&
          !email &&
          !telefone &&
          !passwordCadastro &&
          !passwordCadastroRepetir &&
          !cep &&
          !cidade &&
          !estadoSelecionadoCobranca &&
          !bairro &&
          !rua &&
          !numeroResidencia &&
          !complemento &&
          !identificacaoEndereco &&
          !cepEntrega &&
          !cidadeEntrega &&
          !estadoSelecionadoEntrega &&
          !bairroEntrega &&
          !ruaEntrega &&
          !numeroResidenciaEntrega &&
          !complementoEntrega &&
          !telefoneAlternativo &&
          !emailAlternativo"
          (click)="limparCampos()"
          styleClass="p-button-raised p-button-info"
          ></p-button>
        </div>
      </div>
  </div>
  <div class="tabelaClientes">

      <p-table
      #dt
      [value]="usuariosFiltrados" selectionMode="single"
      [(selection)]="usuarioSelecionado"
      [rowHover]="true"
      [tableStyle]="{'min-width': '50rem'}"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 15]"
      [filterDelay]="0"
      (onRowSelect)="updateInputFieldsWithSelectedUser()"
      >
      <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Cliente" />
            </span>
        </div>
      </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Email</th>
                <th>Telefone</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr [pSelectableRow]="usuario">
              <td>{{ usuario?.nome }}</td>
              <td>{{ usuario?.cpf}}</td>
              <td>{{ usuario?.emailprinc }}</td>
              <td>{{ usuario?.telefone }}</td>
            </tr>
        </ng-template>
      </p-table>
  </div>
  </div>
