<div class="divGeral">
  <div class="containerInputs">
    <div class="containerNomeECpf">
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Nome completo</label>
        </span>
      </div>
      <div class="divInputCpf">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">CPF ou CNPJ</label>
        </span>
      </div>
    </div>
    <div class="containerEmailETelefone">
      <div class="divInputEmail">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Email</label>
        </span>
      </div>
      <div class="divInputTelefone">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Telefone</label>
        </span>
      </div>
    </div>
    <div class="containerCepECidade">
      <div class="divInputCep">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">CEP</label>
        </span>
      </div>
      <div class="divInputCidade">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Cidade</label>
        </span>
      </div>
    </div>
    <div class="containerBairroRuaENumeroResidencia">
      <div class="divInputBairro">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Bairro</label>
        </span>
      </div>
      <div class="divInputRua">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Rua</label>
        </span>
      </div>
      <div class="divInputNumeroResidencia">
        <span class="p-float-label">
          <input pInputText id="username" />
          <label htmlFor="username">Nº da residência</label>
        </span>
      </div>
    </div>
  </div>
  <div>

    <div class="card">

      <p-table
      [value]="products" selectionMode="single" [(selection)]="selectedProduct" dataKey="code"
      [tableStyle]="{'min-width': '50rem'}"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 15]"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      >
          <ng-template pTemplate="header">
              <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr [pSelectableRow]="product">
                  <td>{{product.code}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.category}}</td>
                  <td>{{product.quantity}}</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
