<div class="divGeral">

  <div class="divSteps">
    <p-steps [model]="items" [readonly]="true" ></p-steps>
  </div>

  <div class="containerProdutosEValorTotal">
    <div class="containerFreteEProduto" *ngIf="carrinho.length > 0">




      <div class="containerFreteGeral" *ngIf="!mostrarFreteOuEndereco">
        <div class="containerFrete">
          <div class="labelFrete">
              Consultar frete e prazo de entrega
          </div>
          <div class="inputFreteEBotoes">
            <div class="divInputEBotao margem">
              <p-inputMask mask="99999-999" [(ngModel)]="cep" placeholder="CEP" class="margem"></p-inputMask>
              <p-button label="Enviar" styleClass="p-button-outlined" class="buttonEnviar"></p-button>
            </div>
            <div class="divNaoLembroOCep">
              <p-button label="Não lembro do meu cep" styleClass="p-button-link" class="buttonNaoLembroOCep"></p-button>
            </div>
          </div>
        </div>
      </div>




      <div class="containerEnderecoGeral" *ngIf="mostrarFreteOuEndereco">
        <div class="containerEndereco">
          <div class="labelEndereco">
              Selecione o endereço para entrega
          </div>
          <div *ngFor="let endereco of enderecosEntrega | slice: firstEndereco: firstEndereco + rowsEndereco let i = index"  class="containerEnderecoDados">
            <div class="containerRadioButton">
              <p-radioButton
                (click)="selecionarEndereco(endereco)"
                [inputId]="endereco.identificacao!"
                name="enderecoSelecionado"
                [value]="endereco"
                [ngModel]="enderecoSelecionado"
              ></p-radioButton>
            </div>
            <div class="containerEnderecoLoop">
              <label class="labelIdentificacao" [for]="endereco.identificacao">
                <h2 class="h2">
                  <!-- {{endereco.identificacao}} -->
                  AQUI É A IDENTIFICAÇÃO DO ENDEREÇO
                </h2>
              </label>
              <div class="labelRuaEResidencia">
                {{endereco.endereco}}, {{endereco.numeroResidencia}}
              </div>
              <div class="labelCidadeEBairro">
                {{endereco.cidade}} - {{endereco.bairro}}
              </div>
              <div class="labelCep">
                CEP: {{endereco.cep}}
              </div>
            </div>
          </div>
            <p-paginator (onPageChange)="onPageChangeEnderecos($event)" [first]="firstEndereco" [rows]="rowsEndereco" [totalRecords]="totalRecordsEnderecos">
            </p-paginator>
        </div>
      </div>




      <div class="containerProduto">
        <div class="divRemoverProdutos">
          <div class="divLabelProdutos">
            Produtos
          </div>
          <p-button
            icon="fa-solid fa-trash-can fa-xl"
            styleClass="p-button-danger"
            label="Remover todos os produtos"
            (click)="removerTodosOsProdutos()"
            ></p-button>
        </div>
        <div *ngFor="let item of carrinho | slice:firstProduto:firstProduto + rowsProduto" class="item-carrinho">
          <div class="containerInformaçoesProduto">
            <div class="containerImagemENome">
              <img class="img" [src]="item.imagemProduto" alt="imagem produto" >
              <div class="nome-produto">
                {{ item.nomeProduto ? formatarNomeProduto(item.nomeProduto) : '' }}
              </div>
            </div>
            <div class="containerQuantPrecoExcluir">
              <div class="quantidade">
                <p-inputNumber
                  [size]="1"
                  [min]="1"
                  [(ngModel)]="item.quantidade"
                  [showButtons]="true"
                  buttonLayout="vertical"
                  spinnerMode="horizontal"
                  inputId="horizontal"
                  decrementButtonClass="p-button-danger"
                  incrementButtonClass="p-button-success"
                  incrementButtonIcon="fa-solid fa-plus"
                  decrementButtonIcon="fa-solid fa-minus"
                  (ngModelChange)="atualizarQuantidade(item, item.quantidade!)"
                ></p-inputNumber>
                  <div class="preco">
                    R$ {{ calcularValorItem(item).toFixed(2) }}
                  </div>
              </div>
              <div class="botao-excluir">
                <p-button icon="fa-solid fa-trash-can fa-xl" styleClass="p-button-danger" (click)="excluirItem(item)"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="paginator">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="firstProduto" [rows]="rowsProduto" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]">
          </p-paginator>
        </div>
      </div>
    </div>
    <div class="containerValorTotal" *ngIf="carrinho.length > 0">
      <div class="valorTotal">
        <h1 class="resumoDoPedido">
          Resumo
        </h1>
        <div class="valorTotalProdutos">
          <div class="pMenor">Valor dos produtos:</div>
          <div class="pMaior">R$ {{ valorTotal.toFixed(2) }}</div>
        </div>
        <hr class="hr">
        <div class="valorFrete">
          <div class="pMenor">Frete:</div>
          <div class="pMaior">R$ ???,??</div>
        </div>
        <div class="ValorTotalProdutosEFrete">
          <div class="pMenor">Valor total:</div>
          <h2 class="valorFinalFreteEProduto">R$ ?????,??</h2>
        </div>
        <div class="divBotoes">
          <p-button
            label="Ir para o pagamento"
            [disabled]="!enderecoSelecionado"
            (onClick)="navegarPagamento()"
            >
          </p-button>
          <p-button class="buttonWidth button" label="Continuar comprando" routerLink="/tela-principal"></p-button>
        </div>
      </div>
    </div>
  </div>


  <div class="containerSemProduto" *ngIf="carrinho.length === 0">
    <div>Não há nenhum item no seu carrinho.</div>
    <br>
    <div>Caso deseje algum item, navegue pelas categorias acima ou retorne à página inicial.</div>
    <br>

    <div>
      <p-button
        label="Página principal"
        icon="fa-solid fa-house"
        routerLink="/tela-principal"
      >
      </p-button>
    </div>


  </div>


</div>


<p-toast
  [showTransitionOptions]="'700ms'"
  [hideTransitionOptions]="'700ms'"
  position="bottom-center"
></p-toast>
