.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 23px;
}

.divSteps{
  background-color: white;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--borda-dos-containers);
  border-radius: 6px;
  margin-bottom: 15px;
}

.containerProdutosEValorTotal{
  display: flex;
}

.containerProduto{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
  background-color: var(--container-externo-cards-produtos);
  padding: 10px;
  border-radius: 6px;
}

.containerFreteEProduto{
  display: flex;
  width: 100%;
  margin-right: 5px;
  flex-direction: column;
}

.containerFreteGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: var(--container-externo-cards-produtos);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.containerEnderecoGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: var(--container-externo-cards-produtos);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.containerFrete{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: var(--container-interno-cards-produtos);
  padding: 15px;
  border-radius: 6px;
}

.containerEndereco{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: var(--container-interno-cards-produtos);
  padding: 15px;
  border-radius: 6px;
}

.labelFrete{
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.labelEndereco{
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}


.containerEnderecoIndividual{
  display: flex;
  width: 100%;
}

.divInputEBotao{
  display: flex;
}

.margem{
  margin-right: 15px;
}


.containerValorTotal{
  display: flex;
  width: 30%;
  height: 100%;
  max-height: 500px;
  padding: 10px;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 6px;
}

.valorTotal{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  justify-content: center;
  padding: 15px;
  background-color: var(--container-interno-cards-produtos);
  border-radius: 6px;
}

.resumoDoPedido{
  display: flex;
  width: 100%;
  height: 10%;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--container-interno-cards-produtos);
  margin: 0;

}

.valorTotalProdutos{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--container-interno-cards-produtos);
}


.hr{
  display: flex;
  width: 100%;
}

.valorFrete{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--container-interno-cards-produtos);
}

.ValorTotalProdutosEFrete{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgba(0, 255, 21, 0.411);
}

.valorFinalFreteEProduto{
  margin-top: 5px;
  font-size: 30px;
  font-weight: bolder;
  color: var(--cor-valor-total);
}

.pMenor{
  font-size: 15px;
  font-weight: 400;
}

.pMaior{
  font-size: 20px;
  font-weight: 500;
}

.divBotoes{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

:host ::ng-deep .p-button{
  width: 100%;
}

.button{
  margin-top: 10px;
}

.item-carrinho{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}

.img{
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.nome-produto{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

.quantidade{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

.preco{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
  color: green;
}

.botao-excluir{
  height: 100%;
  min-width: 50px;
}

.paginator{
  width: 100%;
  margin-top: 7px;
}

.containerInformaçoesProduto{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--container-interno-cards-produtos);
  padding: 10px;
  border-radius: 6px;
}

.divRemoverProdutos{
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 500;
}

.containerSemProduto{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.462);
  padding: 23px;
  font-size: 20px;
  font-weight: 500;
}

.containerImagemENome{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.containerQuantPrecoExcluir{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {

  .divGeral{
    flex-direction: column;
  }

  .containerProdutosEValorTotal{
    flex-direction: column;
  }

  .containerValorTotal{
    margin-top: 5px;
    width: 100%;
  }

}

@media (max-width: 660px) {

  .labelFrete{
    justify-content: center;
  }


  .inputFreteEBotoes{
    flex-direction: column;
    align-items: center;
  }

  .divNaoLembroOCep{

    width: 100%;
    align-items: center;
    margin-top: 15px;
  }

  .divRemoverProdutos{
    flex-direction: column;
  }

  .divLabelProdutos{
    display: none;
  }

  .containerImagemENome{
    flex-direction: column;
  }

  .img{
    width: 100%;
    height: 100%;
  }

  .containerInformaçoesProduto{
    flex-direction: column;
  }

}

@media (max-width: 395px) {

 .divSteps{
  display: none;
 }
}


@media (max-width: 420px) {

  .containerQuantPrecoExcluir{
    flex-direction: column;
  }

  .divInputEBotao{
    width: 100%;
    flex-direction: column;
  }

  .quantidade{
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }

  :host ::ng-deep .p-inputmask{
    width: 100%;
  }

  .margem{
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .botao-excluir{
    width: 100%;
  }

  .buttonEnviar{
    width: 100%;
  }
}


.containerEnderecoLoop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerEnderecoDados {
  padding: 13px;
  background-color: var(--background-das-divs-da-categoria);
  margin-bottom: 5px;
  border-radius: 6px;
  display: flex;
}

.containerRadioButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 13px;
}

.labelIdentificacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.h2 {
  margin-bottom: 5px;
}

.labelRuaEResidencia {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.labelCidadeEBairro {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.labelCep {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
