<div class="divGeral">

  <div class="logo">
    <img class="img" src="assets/logo.png" alt="Logo" routerLink="/login">
  </div>

  <div class="divCadastro">

    <div class="cadastro">

      <div class="divInputs">

        <div class="headerCadastrado">
          <h2>Cadastre-se !</h2>
          <br>
        </div>

        <br>

        <div class="emails">
          <div class="email field p-fluid mt-4 tamanhoInputsEmail">
            <div class="inputs">
              <span class="p-float-label">
                <input
                  id="emailPrincipal"
                  name="emailPrincipal"
                  #emailInputPrincipal="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  type="emailPrincipal"
                  pInputText
                  [(ngModel)]="emailCadastroPrincipal"
                />
                <label htmlFor="Email principal">Email principal</label>
              </span>
              <small
                *ngIf="
                emailInputPrincipal.invalid && (emailInputPrincipal.dirty  || emailInputPrincipal.touched)
                "
                class="p-error"
              >
                Formato de email inválido
              </small>
            </div>
          </div>


        </div>

        <div class="emails">
          <div class="email field p-fluid mt-4 tamanhoInputsEmail">
            <div class="inputs">
              <div class="containerInputEmailSec">
                <div class="checkbox">
                  <p-checkbox [(ngModel)]="checkbox" [binary]="true" inputId="binary"></p-checkbox>
                </div>
                <div class="inputEmailSec">
                  <input
                    [disabled]="!checkbox"
                    id="emailSecundario"
                    name="emailSecundario"
                    #emailInputSecundario="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    pInputText
                    [(ngModel)]="emailCadastroSecundario"
                    placeholder="Email alternativo"
                  />
                </div>
              </div>
              <small
                *ngIf="
                emailInputSecundario.invalid && (emailInputSecundario.dirty  || emailInputSecundario.touched)
                "
                class="p-error"
              >
                Formato de email inválido
              </small>
            </div>
          </div>
        </div>

        <div class="infoPessoal">
          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <input
                  id="email"
                  name="email"
                  type="email"
                  pInputText
                  [(ngModel)]="nomeCompleto"
                />
                <label htmlFor="Nome completo">Nome completo</label>
              </span>
            </div>
          </div>

          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <input pInputText type="text" [(ngModel)]="cpfOuCnpj" (keypress)="onKeyPress($event)" />
                <label htmlFor="email">CPF ou CNPJ</label>
              </span>
            </div>
          </div>
        </div>

        <div class="telefone">
          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <p-inputMask
                  mask="(99) 99999-9999"
                  [(ngModel)]="telefonePrincipal"
                  id="telefonePrincipal"
                  #telefoneprincipal="ngModel"
                  ></p-inputMask>
                <label htmlFor="Telefone principal">Telefone principal</label>
              </span>
            </div>
          </div>
          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <div class="containerInputEmailSec">
                <div class="checkbox">
                  <p-checkbox [(ngModel)]="checkboxTelefone" [binary]="true" inputId="binary"></p-checkbox>
                </div>
                <div class="inputEmailSec">
                  <span class="p-float-label">
                    <p-inputMask
                      [disabled]="!checkboxTelefone"
                      mask="(99) 99999-9999"
                      [(ngModel)]="telefoneSecundario"
                      id="telefoneSecundario"
                      #telefonesecundario="ngModel"
                      ></p-inputMask>
                    <label htmlFor="Telefone alternativo">Telefone alternativo</label>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="telefone">

        </div>

        <div class="endereco">
          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <input
                  id="endereco"
                  name="endereco"
                  type="endereco"
                  pInputText
                  [(ngModel)]="endereco"
                />
                <label htmlFor="Endereço">Endereço</label>
              </span>
            </div>
          </div>

          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <input
                  id="bairro"
                  name="bairro"
                  type="bairro"
                  pInputText
                  [(ngModel)]="bairro"
                />
                <label htmlFor="Bairro">Bairro</label>
              </span>
            </div>
          </div>
        </div>

        <div class="endereco">
          <div class="email field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <input
                  id="cidade"
                  name="cidade"
                  type="cidade"
                  pInputText
                  [(ngModel)]="cidade"
                />
                <label htmlFor="Cidade">Cidade</label>
              </span>
            </div>
          </div>

          <div class="tamanhoInputs">
            <p-dropdown [options]="estado"  [showClear]="true" [(ngModel)]="estadoSelecionado" placeholder="Estado" optionLabel="nome"></p-dropdown>
          </div>
        </div>

        <div class="senhas">
          <div class="senha field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <p-password
                  id="password"
                  type="password"
                  name="password"
                  #passwordInputCadastro="ngModel"
                  placeholder="Digite sua senha"
                  [(ngModel)]="passwordCadastro"
                  [feedback]="false"
                  [toggleMask]="true"
                  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                ></p-password>
                <label htmlFor="senha">Senha</label>
              </span>
              <small
                *ngIf="
                  passwordInputCadastro.invalid &&
                  (passwordInputCadastro.dirty  || passwordInputCadastro.touched)
                "
                class="p-error"
              >
                Formato de senha invalido. A senha deve conter no mínimo 8
                caracteres com pelo menos uma letra e um número.
              </small>
            </div>
          </div>
          <div class="senha field p-fluid mt-4 tamanhoInputs">
            <div class="inputs">
              <span class="p-float-label">
                <p-password
                  id="passwordRepetir"
                  type="passwordRepetir"
                  name="passwordRepetir"
                  #passwordInputCadastroRepetir="ngModel"
                  placeholder="Digite novamente sua senha"
                  [(ngModel)]="passwordCadastroRepetir"
                  [feedback]="false"
                  [toggleMask]="true"
                  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                ></p-password>
                <label htmlFor="Password repetir">Repita sua senha</label>
              </span>
              <small *ngIf="passwordCadastro != passwordCadastroRepetir" class="p-error">
                As senhas devem ser iguais e atender ao formato de senha exigido.
              </small>
            </div>
          </div>
        </div>


      </div>

      <div class="terms">
        <div class="checkbox-wrapper">
          <p-checkbox
            [(ngModel)]="checked"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>
        </div>

        <div class="desc">
          Aceito os
          <a class="a-login" href="opcoesCadastro" routerLink="/"
            >termos e condições</a
          >
        </div>
        <!-- COLOCAR A ROTA PARA OS TERMOS NA ROUTERLINK ACIMA -->
      </div>

      <div class="divInputs">
        <p-button
          label="Cadastrar"
          [disabled]="
          !emailCadastroPrincipal ||
          !nomeCompleto ||
          !cpfOuCnpj ||
          !telefonePrincipal ||
          !endereco ||
          !bairro ||
          !cidade ||
          !estado ||
          (passwordCadastro !== passwordCadastroRepetir) ||
          !passwordCadastro ||
          !passwordCadastroRepetir ||
          !checked ||
          checkbox && !checkedRegex(emailCadastroSecundario) ||
          checkboxTelefone && !telefoneSecundario
          "
          (onClick)="cadastrar()"
          >
        </p-button>
      </div>


        <div class="divHaveAccount">
          <p class="desc">
            Já possui uma conta ?
            <a class="a-login" href="opcoesCadastro" routerLink="/login"
              >Login now</a
            >
          </p>
        </div>

    </div>

  </div>

</div>
