<div class="divGeral">

  <p-carousel [value]="images" [autoplayInterval]="7000" [showIndicators]="false" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsBanner">
    <ng-template pTemplate="item" let-images>
      <div class="imgBannerContainer">
        <img [src]="images.imagem" class="imgBanner"/>
      </div>
    </ng-template>
  </p-carousel>

  <br>

  <div class="line-with-text">
    <hr>
    <div class="textoHR">Em destaque</div>
    <hr>
  </div>

  <div class="divCarousel">
    <p-carousel [value]="produtosDestaque" [showIndicators]="false" [numVisible]="4" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" class="carousel">
      <ng-template pTemplate="item" let-produtos>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel [value]="produtos.imagem" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="imagem.imagem" alt="imagem produto" class="img" (click)="navigateProduto(produtos)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ formatarNomeProduto(produtos.nome) }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produtos.descricaoBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  {{ produtos.preco }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produtos)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item" >
                  <a class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>Comprar</div>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <br>

  <p-carousel [value]="anunciosMaiores" [autoplayInterval]="7000" [showIndicators]="false" [numVisible]="2" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsBanner">
    <ng-template pTemplate="item" let-images>
      <div class="containerAnuncio">
        <img [src]="images.imagem" class="imgBannerAnuncioMaiores"/>
      </div>
    </ng-template>
  </p-carousel>

  <br>
  <div class="line-with-text">
    <hr>
    <div class="textoHR">Mais vendidos</div>
    <hr>
  </div>

  <div class="divCarousel">
    <p-carousel [value]="produtosMaisVendidos" [showIndicators]="false" [numVisible]="4" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" class="carousel">
      <ng-template pTemplate="item" let-produtos>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel [value]="produtos.imagem" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="imagem.imagem" alt="imagem produto" class="img" (click)="navigateProduto(produtos)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ formatarNomeProduto(produtos.nome) }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produtos.descricaoBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  {{ produtos.preco }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produtos)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item" >
                  <a class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>Comprar</div>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="line-with-text">
    <hr>
    <div class="textoHR">Em promoção</div>
    <hr>
  </div>

  <div class="divCarouselEmPromocao">
    <p-carousel [value]="produtosEmPromocao" [showIndicators]="false" [numVisible]="7" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsEmPromocao" class="carouselEmPromocao">
      <ng-template pTemplate="item" let-produtos>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel [value]="produtos.imagem" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="imagem.imagem" alt="imagem produto" class="img" (click)="navigateProduto(produtos)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ formatarNomeProduto(produtos.nome) }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produtos.descricaoBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  {{ produtos.preco }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produtos)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item" >
                  <a class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>Comprar</div>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>


    <div class="divAnunciosMenores">
      <p-carousel [value]="anunciosMenores" [autoplayInterval]="7000" orientation="vertical" [showIndicators]="false" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsAnunciosMenores" class="carousel-alto">
        <ng-template pTemplate="item" let-images>
          <div class="containerAnuncioMenores">
            <img [src]="images.imagem" class="imgBannerAnuncioMenores"/>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="line-with-text">
    <hr>
    <div class="textoHR">Categorias</div>
    <hr>
  </div>

  <br>

  <p-carousel [value]="categorias" [numVisible]="10" [numScroll]="10" [circular]="true" [showIndicators]="false" [responsiveOptions]="responsiveOptionsCategorias">
    <ng-template pTemplate="item" let-categoria>
      <div class="categorias" (click)="navigateCategoria(categoria)">
        <div>{{categoria.nome}}</div>
        <img [src]="categoria.imagem" alt="imagem da categoria" class="categoriaImg">
      </div>
    </ng-template>
  </p-carousel>

</div>

<p-toast></p-toast>
