.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.imgBanner:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.containerGeral{
  padding: 23px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  background-color: var(--container-externo-cards-produtos);
  border: 1px solid var(--borda-dos-containers);
  border-radius: 8px;

}

.container:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.containerInterno{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--container-interno-cards-produtos);
}

.containerImagem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img{
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.margem{
  padding: 3%;
}

.nome{
  width: 80%;
  word-wrap: break-word;
  font-size: 20px;
}

.tamanhoDivs{
  display: flex;
  width: 100%;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.descricao{
  width: 80%;
  word-wrap: break-word;
  font-size: 20px;
}

.preco{
  display: flex;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
}

.botoes{
  display: flex;
}

.sidenav-nav {
  display: flex;
  width: 100%;
  max-width: 150px;
  padding: 4px;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  align-items: center;

  .sidenav-nav-item{
    display: flex;
    width: 100%;
    height: 100%;


    .sidenav-nav-link{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem; /* Tamanho da altura dos botões */
      overflow: hidden;
      min-height: 3rem;
      max-height: 100%;
      width: 100%;
      background-color: var(--background-botoes);
      text-decoration: none;
      border-radius: 0.313rem;
      transition: all .3s ease;
      cursor: pointer;
      padding: 10px;


      .sidenav-link-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        text-align: center;
        color: var(--textos-e-icones-botoes);
      }

      .sidenav-link-text{
        font-size: 20px;
        margin-left: 5px;
        word-wrap: break-word;
        color: var(--textos-e-icones-botoes);
      }
    }

    .sidenav-nav-link:hover{
      background-color: var(--hover-background-botoes);
    }
  }
}

.sidenav-nav-item-info{
  display: flex;
  width: 100%;
  height: 100%;

  .sidenav-nav-link-info{
    display: flex;
    align-items: center;
    height: 3rem; /* Tamanho da altura dos botões */
    min-height: 3rem;
    max-height: 100%;
    background-color: var(--background-botoes);
    text-decoration: none;
    border-radius: 0.313rem;
    transition: all .3s ease;
    cursor: pointer;

    .sidenav-link-icon-info{
      font-size: 22px;
      width: 45px;
      text-align: center;
      color: var(--textos-e-icones-botoes);
    }

  }

  .sidenav-nav-link-info:hover{
    background-color: var(--hover-background-botoes);
  }
}
.carousel{
  width: 100%;
}

.divCarousel{
  display: flex;
  width: 100%;
}

.divCarouselInterno{
  display: flex;
  width: 100%;
}

.divCarouselEmPromocao{
  display: flex;
  width: 100%;
}

.carouselEmPromocao{
  width: 80%;
}

.sidenav-link-text {
  display: block;
}



/* Quando a largura da tela for menor que 768 pixels, esconda a label */


.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.line-with-text hr {
  width: 400px; /* Ajuste o tamanho da largura da linha */
  margin: 0 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.184);
}

.textoHR{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.502);
}

.categorias{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 150px;
  background-color: white;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
  border: 2px solid rgba(0, 0, 0, 0.462);
}

.categorias:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.categoriaImg{
  height: 100px;
  width: 100px;
}

.containerAnuncio{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containerAnuncioMenores{
  width: 100%;
  height: 100%;
  padding: 10px;

}

.divAnunciosMenores{
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;

}

:host ::ng-deep .carousel-alto .p-carousel-items-content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.imgBannerAnuncioMenores{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 180px;
}

.imgBannerAnuncioMaiores{
  width: 98%;
  height: 100%;
  max-width: 1000px;
  max-height: 200px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.imgBannerAnuncioMaiores:hover{
  scale: 1.02;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.imagemAnuncioMenor{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease all;
}

.imagemAnuncioMenor:hover{
  scale: 1.05;
  transition: 0.3s ease all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.668);
}

.containerBanner{
  display: flex;
  justify-content: center;
  height: 100%;
}

.imgBannerContainer{
  display: flex;
  padding: 23px;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.imgBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 100%;
  max-width: 1100px;
  max-height: 400px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
}

:host ::ng-deep .carousel-banner .p-carousel{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .sidenav-link-text {
    display: none;
  }

  .divCarouselEmPromocao{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divAnunciosMenores{
    width: 50%;
    height: 100%;
  }

  .containerAnuncioMenores{
    width: 100%;
    height: 100%;
  }





  :host ::ng-deep .carousel-alto .p-carousel-items-content{
    min-height: 0px;
  }

  .imgBannerAnuncioMenores{
    min-width: 250px;
    min-height: 280px;
  }

  .carouselEmPromocao{
    width: 100%;
  }

  .containerGeral{
    padding: 10px;
  }


  .imagemAnuncioMenor{
    margin-bottom: 20px;
    max-width: 60%;
  }

  .divAnunciosMenores{
    justify-content: center;
    align-items: center;
  }
}
