<p-button routerLink="/conclusao-da-compra"></p-button>

<div class="divGeral">

  <div class="containerBanner">
    <p-carousel class="carousel-banner" [value]="imagensTipo0" [autoplayInterval]="7000" [showIndicators]="false" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsBanner" >
      <ng-template pTemplate="item" let-imagens>
        <div class="imgBannerContainer">
          <img [src]="getImagemBanner(imagens)" class="imgBanner"/>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <br>

  <div class="line-with-text">
    <hr>
    <div class="textoHR">Em destaque</div>
    <hr>
  </div>

  <div class="divCarousel">
    <p-carousel [value]="produtosDestaque" [showIndicators]="false" [numVisible]="4" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" class="carousel">
      <ng-template pTemplate="item" let-produto>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel [value]="getImagensProduto(produto)" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="getImagemURL(imagem)" alt="imagem produto" class="img" (click)="navigateProduto(produto)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ produto.nome }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produto.descBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  R$ {{ produto.preco.toFixed(2) }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produto)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item" (click)="adicionarAoCarrinho(produto)">
                  <a [ngClass]="{'sidenav-nav-link-indisponivel': produto.qtdEntrada - produto.qtdSaida === 0}" class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>{{ produto.qtdEntrada - produto.qtdSaida === 0 ? 'Sem Estoque' : 'Comprar' }}</div>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <br>

  <p-carousel [value]="imagensTipo1" [autoplayInterval]="7000" [showIndicators]="false" [numVisible]="2" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsBanner">
    <ng-template pTemplate="item" let-imagem>
      <div class="containerAnuncio">
        <img [src]="getImagemBanner(imagem)" class="imgBannerAnuncioMaiores"/>
      </div>
    </ng-template>
  </p-carousel>

  <br>
  <div class="line-with-text">
    <hr>
    <div class="textoHR">Mais vendidos</div>
    <hr>
  </div>

  <div class="divCarousel">
    <p-carousel [value]="produtosMaisVendidos" [showIndicators]="false" [numVisible]="4" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" class="carousel">
      <ng-template pTemplate="item" let-produto>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel [value]="getImagensProduto(produto)" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="getImagemURL(imagem)" alt="imagem produto" class="img" (click)="navigateProduto(produto)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ formatarNomeProduto(produto.nome) }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produto.descBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  R$ {{ produto.preco.toFixed(2) }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produto)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav">
                <div class="sidenav-nav-item" (click)="adicionarAoCarrinho(produto)">
                  <a [ngClass]="{'sidenav-nav-link-indisponivel': produto.qtdEntrada - produto.qtdSaida === 0}" class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>{{ produto.qtdEntrada - produto.qtdSaida === 0 ? 'Sem Estoque' : 'Comprar' }}</div>
                    </span>
                  </a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="line-with-text">
    <hr>
    <div class="textoHR">Em promoção</div>
    <hr>
  </div>

  <div class="divCarouselEmPromocao">
    <p-carousel [value]="produtosEmPromocao" [showIndicators]="false" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsEmPromocao" class="carouselEmPromocao">
      <ng-template pTemplate="item" let-produto>
        <div class="containerGeral" >
          <div class="container">
            <div >
              <div class="containerInterno">
                <div class="divCarouselInterno">
                  <p-carousel  [value]="getImagensProduto(produto)" [showIndicators]="false" [circular]="true">
                    <ng-template pTemplate="item" let-imagem>
                      <div class="containerImagem">
                        <img [src]="getImagemURL(imagem)" alt="imagem produto" class="img" (click)="navigateProduto(produto)">
                      </div>
                    </ng-template>
                  </p-carousel>
                </div>
                <div class="tamanhoDivs">
                  <div class="nome margem">
                    {{ formatarNomeProduto(produto.nome) }}
                  </div>
                </div>
                <div class="tamanhoDivs">
                  <div class="descricao margem">
                    {{ produto.descBreve }}
                  </div>
                </div>
                <div class="preco margem">
                  R$ {{ produto.preco.toFixed(2) }}
                </div>
              </div>
            </div>
            <div class="botoes margem">
              <div class="sidenav-nav" >
                <div class="sidenav-nav-item-info" (click)="navigateProduto(produto)">
                  <a class="sidenav-nav-link-info">
                    <i class="sidenav-link-icon-info fa-solid fa-circle-info fa-lg" ></i>
                  </a>
                </div>
              </div>
              <div class="sidenav-nav">
                <div class="sidenav-nav-item" (click)="adicionarAoCarrinho(produto)">
                  <a [ngClass]="{'sidenav-nav-link-indisponivel': produto.qtdEntrada - produto.qtdSaida === 0}" class="sidenav-nav-link" >
                    <i class="sidenav-link-icon fa-solid fa-cart-shopping fa-lg"></i>
                    <span class="sidenav-link-text">
                      <div>{{ produto.qtdEntrada - produto.qtdSaida === 0 ? 'Sem Estoque' : 'Comprar' }}</div>
                    </span>
                  </a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>


    <div class="divAnunciosMenores">
      <p-carousel [value]="imagensTipo2" [autoplayInterval]="7000" orientation="vertical" [showIndicators]="false" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptionsAnunciosMenores" class="carousel-alto">
        <ng-template pTemplate="item" let-imagem>
          <div class="containerAnuncioMenores">
            <img [src]="getImagemBanner(imagem)" class="imgBannerAnuncioMenores"/>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  


</div>

