<div class="divGeral">
  <h1>Adicionar Categorias</h1>
  <div class="containerInputs">
    <div class="containerNomeProdutoECategoria">
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="nomeCategoriaSelecionada" />
          <label htmlFor="username">Nome da Categoria</label>
        </span>
      </div>
      <div class="divInputCpf">
        <p-dropdown
          [options]="categorias"
          [(ngModel)]="categoriasAdicionarSelecionadaInput"
          (onChange)="onCategoriaAdicionarSelect($event)"
          optionLabel="nome"
          [filter]="true"
          filterBy="nome"
          [showClear]="true"
          placeholder="Selecione a categoria"
        >
          <!-- Selected Item Template -->
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="categoriasAdicionarSelecionadaInput">
              <div>{{ categoriasAdicionarSelecionadaInput.nome }}</div>
            </div>
          </ng-template>
          <!-- Item Template -->
          <ng-template let-categoria pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ categoria.nome }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="containerBotoes">
    <div class="divInputs">
      <p-button label="Adicionar categoria"
      [disabled]="adicionarCategoriaDisabled" styleClass="p-button-raised p-button-success"></p-button>
    </div>
    <div class="divInputs">
      <p-button label="Atualizar categoria" styleClass="p-button-raised p-button-warning"></p-button>
    </div>
    <div class="divInputs">
      <p-button label="Excluir categoria" styleClass="p-button-raised p-button-danger"></p-button>
    </div>
    <div class="divInputs">
      <p-button
        label="Limpar campos"
        (click)="limparCamposCategoriaNova()"
        styleClass="p-button-raised p-button-info"
      ></p-button>
    </div>
  </div>
  <hr class="hr">
  <h1 class="h1">Adicionar Produtos</h1>
  <div class="containerInputs">
    <div class="containerNomeProdutoECategoria">
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="nomeProduto" />
          <label htmlFor="username">Nome do Produto</label>
        </span>
      </div>
      <div class="divInputCpf">
        <p-dropdown
          [options]="categorias"
          [(ngModel)]="categoriasSelecionadaInput"
          optionLabel="nome"
          [filter]="true"
          filterBy="nome"
          [showClear]="true"
          placeholder="Selecione a categoria"
        >
          <!-- Selected Item Template -->
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="categoriasSelecionadaInput">
              <div>{{ categoriasSelecionadaInput.nome }}</div>
            </div>
          </ng-template>
          <!-- Item Template -->
          <ng-template let-categoria pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ categoria.nome }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="containerPrecoEStatus">
      <div class="divInputEmail">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">R$</span>
          <input [(ngModel)]="valorProdutoFormatted" (input)="onValorProdutoInput($event)" pInputText placeholder="Preço" />
        </div>
      </div>
      <div class="divInputNome">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="quantidadeProduto" />
          <label htmlFor="username">Quantidade</label>
        </span>
      </div>
      <div class="divInputTelefone">
        <p-dropdown
          [options]="cities"
          placeholder="Selecione o status"
          [(ngModel)]="selectedCity"
          [showClear]="true"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <div class="containerDescricoes">
      <div class="divInputCep">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="descBreve" />
          <label htmlFor="username">Descrição breve do produto</label>
        </span>
      </div>
    </div>
    <div class="containerDescricoes">
      <div class="divInputCidade">
        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="descCompleta"
          ></textarea>
          <label class="labelDescCompleta" for="float-input">Descrição completa do produto</label>
        </span>
      </div>
    </div>
  </div>
  <div class="containerBotoes">
    <div class="divInputs">
      <p-button label="Adicionar produto"
      [disabled]="adicionarProdutoDisabled"
      styleClass="p-button-raised p-button-success"></p-button>
    </div>
    <div class="divInputs">
      <p-button label="Atualizar produto" styleClass="p-button-raised p-button-warning"></p-button>
    </div>
    <div class="divInputs">
      <p-button label="Excluir produto" styleClass="p-button-raised p-button-danger"></p-button>
    </div>
    <div class="divInputs">
      <p-button
        label="Limpar campos"
        (click)="limparCampos()"
        styleClass="p-button-raised p-button-info"
      ></p-button>
    </div>
  </div>
  <div class="tabelaClientes">
    <p-table
      #dt
      [value]="categoriasFiltradas"
      selectionMode="single"
      [(selection)]="categoriasSelecionada"
      [rowHover]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 15]"
      [filterDelay]="0"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Produto" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Status</th>
          <th>Categoria</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr [pSelectableRow]="produto" (click)="updateInputFieldsWithSelectedProduct(categoria, produto)" *ngFor="let produto of categoria?.produtos">
          <td>{{ produto?.nome }}</td>
          <td></td>
          <td></td>
          <td>{{ categoria?.nome }}</td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</div>
