<div class="divGeral">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="containerGeral scrollwrap">
    <div class="divUsuario scrollwrapInterna">
      <app-funcoes-usuario></app-funcoes-usuario>
    </div>
    <div class="corpo">
      <div>
        <router-outlet></router-outlet>
      </div>
      <div>
        <app-rodape></app-rodape>
      </div>
    </div>
    <div class="divAdministrador scrollwrapInterna">
      <app-funcoes-administrador></app-funcoes-administrador>
    </div>
  </div>

  <p-button
    class="botao-flutuante"
    icon="fa-brands fa-whatsapp fa-xl"
    styleClass="p-button-rounded p-button-success"
    (onClick)="acaoDoBotao()"
  >
  </p-button>
</div>
