<div class="divGeral scrollwrap">

  <app-header></app-header>

  <div class="containerGeral ">
    <div class="divUsuario">
      <app-funcoes-usuario></app-funcoes-usuario>
    </div>
    <div class="corpo scrollwrap">
      <router-outlet></router-outlet>
    </div>
    <div class="divAdministrador">
      <app-funcoes-administrador></app-funcoes-administrador>
    </div>
  </div>

  <app-rodape class="rodape"></app-rodape>

  <p-button
    class="botao-flutuante"
    icon="fa-brands fa-whatsapp fa-xl"
    styleClass="p-button-rounded p-button-success"
    (onClick)="acaoDoBotao()"
    >
  </p-button>

</div>

