.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.divH1{
  padding: 13px;
}

.h2{
  margin-bottom: 0;
}

.containerGeralPedido{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.containerPedido{
  width: 100%;
  height: 100%;
  padding: 13px;
  background-color: var(--container-externo-cards-produtos);
}

.containerInternoPedidoGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.containerStatusDataPagamento{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 60px;
  margin-bottom: 10px;
}

.containerEnderecoNotaFiscal{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 15px;
}

.containerProdutos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 45px;
}

.produtoIndividual{
  display: flex;
  flex-direction: column;
}

.containerProdutoIndividual{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 13px;
}

.divFoto{
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.img{
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 6px;
}

.divNomeProduto{
  display: flex;
  padding: 0px 13px;
  width: 100%;
  align-items: center;
}

.divQuantidadeProduto{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divValorProduto{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.labelNomeProduto{
  font-size: 18px;
  font-weight: 700;
}

.labelQuantidade{
  font-size: 18px;
}

.labelValorProduto{
  font-size: 18px;
}

.valorProdutoDado{
  font-weight: 700;
}

.quantidadeProdutoDado{
  font-weight: 700;
}

.margemLabel{
  margin-bottom: 10px;
}

.divValorTotalDoPedido{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 130px;
}

.divTotalDosProdutos{
  width: 100%;
  display: flex;
}

.labelTotalProduto{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.dadoValorUnicoTotal{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.divTotalFrete{
  width: 100%;
  display: flex;

}

.labelFrete{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.dadoValorFrete{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.divTotalDoPedido{
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  display: flex;
  background-color: var(--container-externo-cards-produtos);
}

.labelTotalPedido{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.dadoTotalPedido{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.containerTimeLine{
  width: 100%;
  height: 280px;
}

:host ::ng-deep .p-timeline-event-content{
  max-width: 150px;
  min-height: 280px;
  word-wrap: break-word;
}


.containerStatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 60px;

}

.containerDataPedido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 60px;
}

.containerFormaPagamento{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 60px;
}

.containerEnderecoGeral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.containerEndereco{
  display: flex;
  min-height: 100px;
  margin-top: 8px;
  justify-content: space-around;
  flex-direction: column;

}

.containerRastreio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 120px;
}

.hr{
  display: flex;
  width: 100%;
  border: .1px solid rgba(0, 0, 0, 0.04);
}

.eventDate{
  margin-bottom: 15px;
}

.icon{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  max-width: 30px;
  height: 30px;
  border: 1px solid var(--background-botoes);
  border-radius: 50%;

}

.custom-marker{
  border-radius: 50%;
}

:host ::ng-deep .p-timeline-event-connector{
  background-color: var(--background-botoes);
}

.eventStatus{
  margin-bottom: 10px;
}


