<div class="divGeral">
  <div class="divH1">
    <h1>Meus pedidos</h1>
  </div>
  <div *ngIf="pedidos" class="containerGeralPedido">
    <div class="containerPedido" *ngFor="let pedido of pedidos | slice:first:first + rows; let i = index">
      <p-accordion [multiple]="false" [activeIndex]="[0]" >
        <p-accordionTab header="Nº do pedido: {{pedido.numeroPedido}}" >
              <div class="containerInternoPedidoGeral">
                <div class="containerStatusDataPagamento">
                  <div class="containerStatus">
                    <div>
                      Status
                    </div>
                    <div>
                      {{pedido.status}}
                    </div>
                  </div>
                  <div class="containerDataPedido">
                    <div>
                      Data
                    </div>
                    <div>
                      {{pedido.dataPedido}}
                    </div>
                  </div>
                  <div class="containerFormaPagamento">
                    <div>
                      Pagamento
                    </div>
                    <div *ngFor="let formaPagamento of pedido.formaDoPagamento">
                      {{ formaPagamento.tipoPagamento }}
                    </div>
                  </div>
                </div>
                <hr class="hr">
                <div class="containerEnderecoNotaFiscal">
                  <div class="containerEnderecoGeral" *ngFor="let endereco of pedido.enderecoSelecionado">
                    <div>
                      Endereço
                    </div>
                    <div class="containerEndereco">
                      <div>{{endereco.endereco}}</div>
                      <div>
                        Número: {{ endereco.numeroResidencia}}, {{endereco.bairro}}
                      </div>
                      <div>
                        CEP: {{endereco.cep}} - {{endereco.cidade}}
                      </div>
                    </div>
                  </div>
                  <div class="containerDataPedido">
                  </div>
                  <div class="containerFormaPagamento">
                    <div class="containerRastreio">
                      <div class="espacamento">
                        <p-button label="Nota fiscal" icon="fa-solid fa-file-invoice-dollar fa-xl" styleClass="p-button-outlined"></p-button>
                      </div>
                      <div>
                        <p-button label="Rastreio detalhado" icon="fa-solid fa-truck-fast fa-xl" styleClass="p-button-outlined"></p-button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="containerTimeLine">
                  <p-timeline [value]="events" layout="horizontal" >
                    <ng-template pTemplate="marker" let-event>
                      <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                        <i class="icon" style="color: #ffffff" [ngClass]="event.icon"></i>
                    </span>
                    </ng-template>
                      <ng-template pTemplate="content" let-event>
                          <div class="eventDate">{{ event.date }}</div>
                          <div class="eventStatus">
                            <i [ngClass]="event.icon"></i>
                            {{event.status}}
                          </div>
                          <div class="eventStatus">
                            <i [ngClass]="event.icon1"></i>
                            {{event.status1}}
                          </div>
                          <div class="eventStatus">
                            <i [ngClass]="event.icon1"></i>
                            {{event.status2}}
                          </div>
                          <div class="eventStatus">
                            <i [ngClass]="event.icon1"></i>
                            {{event.status3}}
                          </div>
                      </ng-template>
                  </p-timeline>
                </div>
                <div class="containerProdutos">
                  <h2 class="h2">Produto(s)</h2>
                  <hr class="hr">
                  <div class="produtoIndividual" *ngFor="let produto of pedido.carrinhoDeCompra | slice: paginatorStates[i].first : paginatorStates[i].first + paginatorStates[i].rows">
                    <div class="containerProdutoIndividual">
                      <div class="divFoto">
                        <img class="img" [src]="produto.imagemProduto" alt="Imagem do produto">
                      </div>
                      <div class="divNomeProduto">
                        <div class="labelNomeProduto">{{produto.nomeProduto}}</div>
                      </div>
                      <div class="containerQuantValor">
                        <div class="divQuantidadeProduto">
                          <div class="labelQuantidade margemLabel">Quantidade</div>
                          <div class="quantidadeProdutoDado">{{produto.quantidade}}</div>
                        </div>
                        <div class="divValorProduto">
                          <div class="labelValorProduto margemLabel">Valor do(s) produto(s)</div>
                          <div class="valorProdutoDado">R$ {{ calcularValorItem(produto).toFixed(2) }}</div>
                        </div>
                      </div>
                    </div>
                    <hr class="hr">
                  </div>
                  <p-paginator (onPageChange)="onPageChangeProduct($event, pedido, i)" [first]="paginatorStates[i].first" [rows]="paginatorStates[i].rows" [totalRecords]="pedido.carrinhoDeCompra!.length"></p-paginator>
                  <div class="divValorTotalDoPedido">
                    <div class="divTotalDosProdutos">
                      <div class="labelTotalProduto">Total dos produto(s)</div>
                      <div class="dadoValorUnicoTotal">R$ {{ calcularValorTotalCarrinho(pedido).toFixed(2) }}</div>
                    </div>
                    <div class="divTotalFrete">
                      <div class="labelFrete">Frete</div>
                      <div class="dadoValorFrete">?????</div>
                    </div>
                    <div class="divTotalDoPedido">
                      <div class="labelTotalPedido">Total do pedido</div>
                      <div class="dadoTotalPedido">R$ {{ calcularValorTotalCarrinho(pedido).toFixed(2) }}</div>
                    </div>
                  </div>
                </div>
              </div>
        </p-accordionTab>
    </p-accordion>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]">
    </p-paginator>
  </div>
</div>



