<div class="divGeral">
  <h1>Relatório de Vendas e Controle de Pedidos</h1>
  <div class="dadosGerais" *ngIf="pedidos">
    <div class="pedidosSolicitados" >
      <div>Total de pedidos feitos</div>
      <div class="pedidoLabel">{{pedidos.length}}</div>
    </div>
    <div class="rendaGeral">
      <div>Renda geral</div>
      <div class="rendaGeralLabel">{{ calcularRendaGeral() | currency: 'BRL' }}</div>
    </div>
  </div>

  <p-table
  #dt
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [value]="pedidos"
  dataKey="numeroPedido"
  [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="containerCaption">
        <div class="divBotaoPDF espacamento">
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdfAll()" class="p-button-warning mr-2" label="PDF completo do relátorio de vendas" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
        <div class="divInputSearch">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText class="inputSearch" type="text" (input)="filterTable($event)" placeholder="Buscar" />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="numeroPedido">Nº do pedido <p-sortIcon field="numeroPedido"></p-sortIcon></th>
        <th pSortableColumn="dataPedido">Data da compra <p-sortIcon field="dataPedido"></p-sortIcon></th>
        <th>Valor total da compra</th>
        <th>Forma de pagamento</th>
        <th pSortableColumn="status">Status do pedido <p-sortIcon field="status"></p-sortIcon></th>
        <th>PDF do pedido</th>
        <th>Inserir número da nota fiscal</th>
        <th>Solicitar transportadora</th>
        <th>Cancelar pedido</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="pedido" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td p-sortField="numeroPedido">{{ pedido.numeroPedido }}</td>
        <td p-sortField="dataPedido">{{ pedido.dataPedido }}</td>
        <td p-sortField="valorTotal">{{ calcularValorTotal(pedido) | currency: 'BRL' }}</td>
        <td>
          <ng-container *ngFor="let formaPagamento of pedido.formaDoPagamento">
            {{ formaPagamento.tipoPagamento }}
          </ng-container>
        </td>
        <td p-sortField="status">{{pedido.status}}</td>
        <td>
          <button type="button" pButton pRipple (click)="exportPdfUnique(pedido)" class="p-button-warning mr-2" label="PDF" icon="pi pi-file-pdf"></button>
        </td>
        <td>
          <p-button label="Adicionar" (click)="showDialogNotaFiscal(pedido.numeroPedido)" icon="fa-solid fa-plus" ></p-button>
        </td>
        <td><p-button label="Solicitar" (click)="showDialogTransportadora(pedido.numeroPedido)" styleClass="p-button-success" icon="fa-solid fa-plus" ></p-button></td>
        <td>
          <p-button styleClass="p-button-danger" icon="fa-solid fa-xmark" ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-pedido>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table [value]="[pedido]" dataKey="numeroPedido">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome do cliente</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>CPF/CNPJ</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-usuario>
                <tr>
                  <td>{{ getUsuarioPorId(usuario.idUsuario)?.nome }}</td>
                  <td>{{ getUsuarioPorId(usuario.idUsuario)?.emailprinc }}</td>
                  <td>{{ getUsuarioPorId(usuario.idUsuario)?.telefone }}</td>
                  <td>{{ getUsuarioPorId(usuario.idUsuario)?.cpfOuCnpj }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de usuário disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table [value]="pedido.enderecoSelecionado" dataKey="numeroPedido">
              <ng-template pTemplate="header">
                <tr>
                  <th>CEP</th>
                  <th>Cidade</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-usuario>
                <tr>
                  <td>{{ usuario.cep }}</td>
                  <td>{{ usuario.cidade }}</td>
                  <td>{{ usuario.bairro }}</td>
                  <td>{{ usuario.rua }}, {{usuario.numeroResidencia}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de usuário disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table [value]="pedido.carrinhoDeCompra" dataKey="nomeProduto">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome do produto</th>
                  <th>Quantidade solicitada</th>
                  <th>Preço unitário</th>
                  <th>Total do produto</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-itemPedido>
                <tr>
                  <td>{{ itemPedido.nomeProduto }}</td>
                  <td>{{ itemPedido.quantidade }}</td>
                  <td>{{ itemPedido.preco | currency: 'BRL' }}</td>
                  <td>{{ calcularValorItem(itemPedido).toFixed(2) | currency: 'BRL' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhum item de pedido disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>



<p-dialog
  header="Inserir número da nota fiscal"
  [(visible)]="visibleNotaFiscal"
  [style]="{width: '550px'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >
  <div>
    <div class="labelNumeroPedido">
      Pedido: {{numeroDoPedido}}
    </div>
    <div class="containerInputNotaFiscal">
      <input pInputText
        id="numeroNotaFiscal"
        [(ngModel)]="numeroNotaFiscal"
        placeholder="Nº da nota fiscal"
        class="inputNotaFiscal"
      >
        <p-button styleClass="p-button-success" icon="fa-solid fa-check"></p-button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Solicitar transportadora"
  [(visible)]="visibleTransportadora"
  [style]="{width: '50%', height: '100%'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >

  <div>

    <hr>
    <h2>Pedido</h2>

    <div class="tipoPedido">
      <p-dropdown
        [options]="tipoPedido"
        [showClear]="true"
        [(ngModel)]="tipoPedidoSelecionado"
        placeholder="Tipo de pedido"
        optionLabel="nome"
        >
      </p-dropdown>
      
    </div>

    <div class="valorMercPesoMerc">

      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="numerocliente"
          [(ngModel)]="valorMercadoria"
          (keypress)="onKeyPress($event)" (input)="onValorProdutoInput"
          class="input"
          />
          <label htmlFor="username">Valor da mercadoria</label>
        </span>
      </div>

      <div class="tamanhoInputs">
        <span class="p-float-label">
          <input pInputText id="pesomercadoria"
          [(ngModel)]="pesoMercadoria"
          (keypress)="onKeyPress($event)" (input)="onValorProdutoInput"
          class="input"
          />
          <label htmlFor="pesomercadoria">Peso da mercadoria</label>
        </span>
      </div>

    </div>
    <div class="valorMercPesoMerc" *ngIf="pessoaJuridica">

      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="chavenf"
          [(ngModel)]="chaveNf"
          
          class="input"
          />
          <label htmlFor="chavenf">Chave da Nota fiscal</label>
        </span>
      </div>

      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="numeronf"
          [(ngModel)]="numeroNf"
          
          class="input"
          />
          <label htmlFor="numeronf">Número da Nota fiscal</label>
        </span>
      </div>

      <div class="tamanhoInputs">
        <span class="p-float-label">
          <input pInputText id="serienf"
          [(ngModel)]="serieNf"
          
          class="input"
          />
          <label htmlFor="serienf">Série da Nota fiscal</label>
        </span>
      </div>

    </div>

    <hr>

    <h2>Destinatário - Tipo</h2>
    
    <div class="divisaoInput espacamentoFim">
      <div class="tamanhoswitch">
        <p-inputSwitch id="switch1" [(ngModel)]="pessoaFisica" (click)="togglePessoaFisica()"></p-inputSwitch>
        <label class="labelswitch" for="switch1">Pessoa física</label>
      </div>
      <div class="tamanhoswitch">
        <p-inputSwitch id="switch2" [(ngModel)]="pessoaJuridica" (click)="togglePessoaJuridica()"></p-inputSwitch>
        <label class="labelswitch" for="switch2">Pessoa jurídica</label>
      </div>
      
    </div>
    
    <hr>

    <h2>Destinatário - Endereço</h2>

    <div class="divisaoInput">
      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="logradouro"
          [(ngModel)]="logradouro"
          class="input"
          />
          <label htmlFor="logradouro">Logradouro</label>
        </span>
      </div>
      <div class="tamanhoInputs">
        <span class="p-float-label">
          <input pInputText id="numero"
          [(ngModel)]="numero"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          class="input"
          />
          <label htmlFor="numero">Número</label>
        </span>
      </div>
    </div>
    <div class="divisaoInput">
      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="bairro"
          [(ngModel)]="bairro"
          
          class="input"
          />
          <label htmlFor="bairro">Bairro</label>
        </span>
      </div>
      <div class="tamanhoInputs">
        <div class="containerInputCep">
          <span class="p-float-label">
            <p-inputMask mask="99999-999" [(ngModel)]="cep"></p-inputMask>
            <label htmlFor="cep">CEP</label>
          </span>
        </div>
      </div>
    </div> 
    <div class="divisaoInput espacamentoFim">
      <div class="tamanhoInputs espacoInput">
        <span class="p-float-label">
          <input pInputText id="cidade"
          [(ngModel)]="cidade"
          class="input"
          />
          <label htmlFor="cidade">Cidade</label>
        </span>
      </div>
      <div class="tamanhoInputs">
        <p-dropdown
          [options]="estado"
          [showClear]="true"
          [(ngModel)]="estadoSelecionado"
          placeholder="Estado"
          optionLabel="nome">
        </p-dropdown>
      </div>
    </div>

    <hr>

    <h2>Volumes para o envio</h2>

    <span class="p-float-label marginTop">
      <p-inputNumber [(ngModel)]="quantidadeCaixas" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"> </p-inputNumber>
      <label htmlFor="number-input">Quantidade de caixas</label>
    </span>

    <div *ngFor="let index of generateRange(quantidadeCaixas); let i = index">
      
      <h2>Caixa {{i + 1}}</h2>

      <div class="containerCaixaRegistrada">
        <div class="tamanhoInputs">
          <p-dropdown
            [options]="caixas"
            [showClear]="true"
            [(ngModel)]="caixaSelecionada[i]"
            (onChange)="caixaSelecionadaEvent($event, i)"
            placeholder="Caixas cadastradas"
            optionLabel="nome">
          </p-dropdown>
        </div>
      </div>

      <div class="inputsVolume">
        <div class="tamanhoInputs inputEspacamento">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="pesoVolume[i]"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            class="input"
            />
            <label htmlFor="numero">Peso do volume (caixa)</label>
          </span>
        </div>
        <div class="tamanhoInputs inputEspacamento">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="alturaVolume[i]"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            class="input"
            />
            <label htmlFor="numero">Altura do volume (caixa)</label>
          </span>
        </div>
        <div class="tamanhoInputs">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="larguraVolume[i]"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            class="input"
            />
            <label htmlFor="numero">Largura do volume (caixa)</label>
          </span>
        </div>
      </div>

      <div class="containerComprimTipoVolume">
        <div class="tamanhoInputs espacoInput">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="compVolume[i]"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            class="input"
            />
            <label htmlFor="numero">Comprimento do volume (caixa)</label>
          </span>
        </div>

        <div class="tamanhoInputs">
          <p-dropdown
            [options]="tipoVolume"
            [showClear]="true"
            [(ngModel)]="tipoVolumeSelecionado[i]"
            placeholder="Tipo de volume"
            optionLabel="tipo">
          </p-dropdown>
        </div>
      </div>
      
      <div class="containerNomeConteudoValorConteudo">
        <div class="tamanhoInputs espacoInput">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="nomeConteudoVolume[i]"
            class="input"
            />
            <label htmlFor="numero">Nome do conteúdo do volume</label>
          </span>
        </div>
        <div class="tamanhoInputs">
          <span class="p-float-label">
            <input pInputText id="numero"
            [(ngModel)]="valorConteudoVolume[i]"
            class="input"
            (keypress)="onKeyPress($event)"
            />
            <label htmlFor="numero">Valor do conteúdo do volume</label>
          </span>
        </div>
      </div>

      <hr>

    </div>

    <div class="containerBotoes">
      <p-button class="espacoInput" label="Enviar solicitação" (onClick)="gerarJSON()" [disabled]="validarBotao()"></p-button>
      <p-button (onClick)="limparCampos()" label="Limpar campos" ></p-button>
    </div>

  </div>

  <div>

  </div>

</p-dialog>
