.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.img{
  display: flex;
  width: 150px;
  height: 100px;
  cursor: pointer;
}

.logo{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-bottom: 1%;
}

.containerCriarConta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.labelNaoPossuiConta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin-right: 10px;
}

.divLogin{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1%;
  justify-content: center;

  .login{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 2%;
    border: 1px rgba(0, 0, 0, 0.166) solid;
    border-radius: 8px;
    align-items: center;
    background-color: var(--container-externo-cards-produtos);
  }

  .headerLogin{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* Estilos para as opções de login */

  .inputs {
    margin-bottom: 25px;
  }

  .espacamento{
    margin-bottom: 15px;
  }

  /*área do lembre de mim*/
  .remember {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
  }

  .checkbox-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .checkbox-wrapper label {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
  }

  .divInputs {
    width: 80%;
    margin-bottom: 10px;
  }

  .a-login{
    color: blue;
  }

}

:host ::ng-deep .p-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.horizontalRow{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.184);
}

.containerInputRedefinirSenha{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerInputNovaSenha{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.inputRedefinirSenha{
  width: 80%;
}

.inputNovaSenha{
  width: 100%;
  margin-bottom: 10px;
}

.inputAccessToken{
  width: 100%;
  margin-bottom: 10px;
}
