<div class="divGeral">

  <div class="logo">
    <img class="img" src="assets/logo.png" alt="Logo" routerLink="/tela-principal">
  </div>

  <div class="divLogin">

    <div class="login">
      <div class="divInputs">

        <div class="headerLogin">
          <h2>Já sou cadastrado !</h2>
          <br>
        </div>

        <div class="email field p-fluid mt-4">
          <div class="inputs">
            <span class="p-float-label">
              <input
                id="email"
                name="email"
                type="email"
                pInputText
                [(ngModel)]="emailLogin"
              />

              <label htmlFor="email">Email</label>
            </span>

          </div>
        </div>

        <div class="senha field p-fluid mt-4">
          <div class="espacamento">
            <span class="p-float-label">
              <p-password
                id="password"
                type="password"
                name="password"
                placeholder="Digite sua senha"
                [(ngModel)]="passwordLogin"
                [feedback]="false"
                [toggleMask]="true"
              ></p-password>

              <label htmlFor="senha">Senha</label>
            </span>

          </div>
        </div>

        <div class="remember">
          <p-button
            label="Esqueceu sua senha ?"
            styleClass="p-button-link"
            (onClick)="trocarSenha()"
        ></p-button>
        </div>

        <p-button
          [disabled]="
          !emailLogin ||
          !passwordLogin"
          label="Entrar"
          (onClick)="entrar()"
        ></p-button>

        <br>
        <hr class="horizontalRow">


        <div class="containerCriarConta">
          <div class="labelNaoPossuiConta">
            Não possui conta ?
          </div>
          <p-button
              label="Criar conta"
              styleClass="p-button-link"
              (onClick)="navigateCriarConta()"
          ></p-button>
        </div>


  </div>

</div>

<p-dialog
  header="Digite seu email para redefinir a senha"
  [(visible)]="visibleTrocarSenha"
  [style]="{width: '550px'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >
  <div class="containerInputRedefinirSenha">
    <input pInputText
      id="emailRedefinirSenha"
      [(ngModel)]="emailRedefinicao"
      placeholder="Insira seu email"
      class="inputRedefinirSenha"
      >
      <p-button label="Enviar" [disabled]="!emailRedefinicao" (onClick)="redefinirSenha()"></p-button>
  </div>
</p-dialog>

<p-dialog
  header="Digite sua nova senha e a chave enviada ao seu email"
  [(visible)]="visibleRedefinirSenha"
  [style]="{width: '550px'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >
  <div class="containerInputNovaSenha">
    <div class="senhaContainer">
      <span class="p-float-label">
        <p-password
          id="password"
          type="password"
          name="password"
          #passwordInput="ngModel"
          [(ngModel)]="novaSenha"
          [feedback]="false"
          [toggleMask]="true"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        ></p-password>
        <label htmlFor="current-password">Digite sua nova senha</label>
      </span>
      <small
                *ngIf="
                passwordInput.invalid &&
                  (passwordInput.dirty  || passwordInput.touched)
                "
                class="p-error"
              >
                Formato de senha invalido. A senha deve conter no mínimo 8
                caracteres com pelo menos uma letra e um número.
        </small>
    </div>
    <input pInputText
      id="accessToken"
      [(ngModel)]="token"
      placeholder="Insira a chave enviada ao seu email"
      class="inputAccessToken"
      >
      <p-button (onClick)="alterarSenha()" [disabled]="!novaSenha || !token || !senhaValida()" label="Redefinir senha"></p-button>
  </div>
</p-dialog>
