<div class="divGeral">

  <div class="logo">
    <img class="img" src="assets/logo.png" alt="Logo" routerLink="/tela-principal">
  </div>

  <div class="divLogin">

    <div class="login">
      <div class="divInputs">

        <div class="headerLogin">
          <h2>Já sou cadastrado !</h2>
          <br>
        </div>

        <div class="email field p-fluid mt-4">
          <div class="inputs">
            <span class="p-float-label">
              <input
                id="email"
                name="email"
                type="email"
                pInputText
                [(ngModel)]="emailLogin"
              />

              <label htmlFor="email">Email</label>
            </span>

          </div>
        </div>

        <div class="senha field p-fluid mt-4">
          <div class="espacamento">
            <span class="p-float-label">
              <p-password
                id="password"
                type="password"
                name="password"
                placeholder="Digite sua senha"
                [(ngModel)]="passwordLogin"
                [feedback]="false"
                [toggleMask]="true"
              ></p-password>

              <label htmlFor="senha">Senha</label>
            </span>

          </div>
        </div>

        <div class="remember">
          <p-button
            label="Esqueceu sua senha ?"
            styleClass="p-button-link"
            (onClick)="trocarSenha()"
        ></p-button>
        </div>

        <p-button
          [disabled]="
          !emailLogin ||
          !passwordLogin"
          label="Entrar"
          (onClick)="entrar()"
        ></p-button>

        <br>
        <hr class="horizontalRow">


        <div class="containerCriarConta">
          <div class="labelNaoPossuiConta">
            Não possui conta ?
          </div>
          <p-button
              label="Criar conta"
              styleClass="p-button-link"
              (onClick)="navigateCriarConta()"
          ></p-button>
        </div>


  </div>

</div>

<p-dialog
  header="Digite seu email para redefinir a senha"
  [(visible)]="visibleTrocarSenha"
  [style]="{width: '550px'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >
  <div class="containerInputRedefinirSenha">
    <input pInputText
      id="emailRedefinirSenha"
      [(ngModel)]="emailRedefinicao"
      placeholder="Insira seu email"
      class="inputRedefinirSenha"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')">
      <p-button label="Enviar" (onClick)="redefinirSenha()"></p-button>
  </div>
</p-dialog>

<p-dialog
  header="Digite sua nova senha e a chave enviada ao seu email"
  [(visible)]="visibleRedefinirSenha"
  [style]="{width: '550px'}"
  [draggable]="false"
  [resizable]="false"
  [focusTrap]="true"
  [closeOnEscape]="true"
  [focusOnShow]="true"
  >
  <div class="containerInputNovaSenha">
    <input pInputText
      id="novaSenha"
      [(ngModel)]="novaSenha"
      placeholder="Insira sua senha nova"
      class="inputNovaSenha"
      >
    <input pInputText
      id="accessToken"
      [(ngModel)]="token"
      placeholder="Insira a chave enviada ao seu email"
      class="inputAccessToken"
      >
      <p-button label="Redefinir senha"></p-button>
  </div>
</p-dialog>
