
.divGeral{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 80px;
  background-color: var(--header-rodape);
}

.containerSearch{
  width: 60%;
}

.menuBar{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1%;
}

.divLogoESearch{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.categorias{
  display: flex;
  width: 100%;
}

.usuarios{
  display: flex;
  width: 100%;
  padding: 1%;
}

.administrador{
  display: flex;
  width: 100%;
  padding: 1%;
}

.img{
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.p-input-icon-left{
  display: flex;
  height: 100%;
  width: 100%;
}

.search-container {
  position: relative;
}

.produtoUnico{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 20px;
  padding: 10px;
  border-bottom: 1px solid  #ccc;
  cursor: pointer;
}

.lista-produtos {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999; /* Certifique-se de que a lista esteja acima de outros elementos na tela */
  background-color: white;
  border: 1px solid #ccc; /* Adicione uma borda se necessário */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 200px; /* Defina a altura máxima da lista ou remova para que ela cresça conforme necessário */
}


.input{
  width: 100%;
}

.divBotoes{
  display: flex;
  width: 180px;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}


.backgroundBotoes{
  border-radius: 8px;
  background-color: transparent;
  transition: all .3s ease;
  width: 40px;
  height: 40px;
  background-color: var(--background-botoes);
  border: 2px solid transparent;
}

.backgroundBotoes:hover{
  background-color: var(--hover-background-botoes);
  transition: all .3s ease;
  cursor: pointer;
}

.botoesCategorias{
  display: flex;
  width: 100%;
}

.carousel{
  width: 100%;
  padding-left: 23px;
  padding-right: 23px;
}

.containerSidenav{
  width: 100%;
}

.containerImg{
  display: flex;
  justify-content: center;
  width: 100%;
}


.sidenav-nav {
  padding: 4px;
  margin: 0;
  flex-direction: column;
  align-items: center;

  .sidenav-nav-item{
    display: flex;
    width: 200px;
    height: 100%;

    .sidenav-nav-link{
      display: flex;
      align-items: center;
      height: 40px;
      overflow: hidden;
      min-height: 40px;
      max-height: 40px;
      width: 100%;
      text-decoration: none;
      border-radius: 0.313rem;
      transition: all .3s ease;
      cursor: pointer;
      background-color: var(--background-botoes);

      .sidenav-link-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.6rem;
        text-align: center;
        color: var(--textos-e-icones-botoes);
      }

      .sidenav-link-text{
        margin-left: 5px;
        margin-right: 10px;
        word-wrap: break-word;
        color: var(--textos-e-icones-botoes);
      }
    }

    .sidenav-nav-link:hover{
      background-color: var(--hover-background-botoes);
    }
  }
}

.horizontalRow{
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.184);
}

.containerSearchButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 980px) {

  .menuBar{
    flex-direction: column;
  }

  .containerSearchButtons{
    justify-content: center;
  }

}



