<div class="divGeral">

  <div class="menuBar">
    <div class="divLogoESearch">
      <img class="img" src="assets/logo.png" alt="logo" routerLink="tela-principal">
      <div>
        <div class="sidenav-nav">
          <div class="sidenav-nav-item">
            <a
              class="sidenav-nav-link"
              (click)="menu.toggle($event)"
            >
              <i class="sidenav-link-icon fa-solid fa-bars"></i>
              <span class="sidenav-link-text">
                Categorias
              </span>
            </a>
          </div>
        </div>
        <p-slideMenu #menu [model]="menuItems" [popup]="true" [viewportHeight]="300" [menuWidth]="175"></p-slideMenu>
      </div>
      <span class="p-input-icon-left">
        <i class="fa-solid fa-magnifying-glass" style="color: green;"></i>
        <input type="text" pInputText [(ngModel)]="search" class="input" />
      </span>

    </div>

    <div class="divBotoes">
      <button style="color: white;" class="fa-solid fa-user fa-lg backgroundBotoes" routerLink="/login"></button>
      <button style="color: white;" class="fa-solid fa-cart-shopping fa-lg backgroundBotoes" routerLink="carrinho-de-compra"></button>
      <button style="color: white;" class="fa-solid fa-phone fa-lg backgroundBotoes"></button>
    </div>



  </div>

  <!-- <hr class="horizontalRow"> -->
  <!-- <div class="usuarios">
    AQUI É O MENU DOS USUÁRIOS
  </div>

  <div class="administrador">
    AQUI É O MENU DE ADMINISTRADOR
  </div> -->

  <!-- <div class="categorias">
    <div class="botoesCategorias">
      <p-carousel [value]="categorias" [showIndicators]="false" [numVisible]="7" [numScroll]="7" [circular]="true" [responsiveOptions]="responsiveOptions" class="carousel">
        <ng-template pTemplate="item" let-categoria>
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div>
              <div class="car-buttons mt-5">
                <div class="sidenav-nav">
                  <div class="sidenav-nav-item">
                    <a
                      class="sidenav-nav-link"
                      (click)="navigateCategoria(categoria)"
                    >
                      <i class="sidenav-link-icon" [class]="categoria.icon"></i>
                      <span class="sidenav-link-text">
                        {{categoria.nome}}
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div> -->




</div>
