<div class="divGeral">

  <div class="menuBar">
    <div class="divLogoESearch">
      <div class="containerImg">
        <img class="img" src="assets/logo.png" alt="logo" routerLink="tela-principal">
      </div>
      <div class="containerSidenav">
        <div class="sidenav-nav">
          <div class="sidenav-nav-item">
            <a
              class="sidenav-nav-link"
              (click)="menu.toggle($event)"
            >
              <i class="sidenav-link-icon fa-solid fa-bars"></i>
              <span class="sidenav-link-text">
                Categorias
              </span>
            </a>
          </div>
        </div>
        <p-slideMenu #menu [model]="menuItems" [popup]="true" [viewportHeight]="300" [menuWidth]="175"></p-slideMenu>
      </div>

    </div>

    <div class="containerSearchButtons">
      <div class="containerSearch">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="fa-solid fa-magnifying-glass" style="color: green;"></i>
            <input
              type="text"
              pInputText
              [(ngModel)]="search"
              class="input"
              (input)="pesquisar()"
            />
          </span>
          <ul *ngIf="mostrarLista" class="lista-produtos scrollwrap">
            <li *ngFor="let produto of produtosFiltrados" class="produtoUnico" (click)="navigateProduto(produto)">{{ produto.nome }}</li>
          </ul>
        </div>
      </div>
      <div class="divBotoes">
        <button *ngIf="mostrarBotaoLogin" style="color: white;" class="fa-solid fa-right-to-bracket fa-lg backgroundBotoes" title="Login" routerLink="/login"></button>
        <button style="color: white;" class="espacamento fa-solid fa-cart-shopping fa-lg backgroundBotoes" title="Carrinho de compra" routerLink="carrinho-de-compra"></button>
        <button style="color: white;" class="espacamento fa-solid fa-phone fa-lg backgroundBotoes" title="Informações de contato"></button>
      </div>
    </div>



  </div>






</div>
