.divGeral {
  display: flex;
  width: 100%;
  padding: 13px;
  flex-direction: column;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 6px;
}

.table-header{
  display: flex;
  justify-content: space-between;
}

.divBotoesCaption{
  display: flex;
  justify-content: space-between;
}

.input{
  display: flex;
  width: 100%;
}

.botao{
  margin-left: 15px;
}

.containerEntradaSaida{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

}

.containerEntrada{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerDropdownInput{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerGeralInputs{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.containerInputs{
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.containerExterno{
  width: 100%;
}

.containerInterno{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputQuantidade{
  width: 98%;

}

.containerDropdown{
  width: 49.7%;
}

.containerInput{
  display: flex;
  width: 49.7%;
}

:host ::ng-deep .p-multiselect{
  width: 100%;
}

.inputQuant{
  width: 100%;
}

.containerBotoes{
  margin-bottom: 15px;
  width: 100%;
}

.labelNotaFiscal{
  margin-top: 15px;
}

:host ::ng-deep .containerBotoes .p-button{
  width: 100%;
}

.h2{
  margin-bottom: 15px;
}

.margem{
  padding: 13px 0;
}

