<div class="divGeral">
  <h1>Gerenciamento de Estoque</h1>
  <div class="containerEntradaSaida">

    <div class="containerEntrada">
      <h2 class="h2">Entrada de produto</h2>
      <div class="containerDropdownInput margem">
        <div class="containerDropdown">
          <span class="p-float-label">
            <p-multiSelect [options]="produtos" [(ngModel)]="produtosSelecionados" optionLabel="nome" ></p-multiSelect>
            <label for="ms-cities">Selecione os produtos</label>
        </span>
        </div>
        <div class="containerInput p-float-label">
          <input class="inputQuant" pInputText type="text" /><label htmlFor="number-input">Número da nota fiscal</label>
        </div>
      </div>


      <div class="containerGeralInputs" *ngIf="produtosSelecionados">
        <div class="containerInputs margem" *ngFor="let produto of produtosSelecionados; let i = index">
            <div class="containerExterno">
              <div class="p-float-label containerInterno">
                <input pInputText inputId="integeronly" [(ngModel)]="quantidadeProdutos[i]" (ngModelChange)="onQuantidadeChange(produto, quantidadeProdutos[i])" class="inputQuantidade">
                <label htmlFor="number-input">Quantidade {{ produto.nome }}</label>
              </div>
            </div>
        </div>
      </div>


      <div class="containerBotoes">
        <p-button styleClass="p-button-success" label="Enviar Entrada" (click)="onEnviarEntrada()"></p-button>
      </div>

    </div>

  </div>

  <p-table
    #dt
    [value]="produtos"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    dataKey="nome"

  >
    <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="input">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Produto" />

            </span>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th>Produto</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Saldo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produto let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="produto" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.qtdEntrada }}</td>
        <td>{{ produto.qtdSaida }}</td>
        <td>{{ calcularSaldo(produto) }}</td>

      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-produto>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table
            [value]="produto.qtdEntrada"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 15]"
            [rows]="5"
            >
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar data de entrada" />
                    <!-- (input)="filtrarDataEntrada($event)" -->
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="dataEntrada">Data de Entrada<p-sortIcon field="dataEntrada"></p-sortIcon></th>
                  <th>Quantidade de Entrada</th>
                  <th>Nota fiscal referente a entrada</th>
                  <th>Excluir entrada</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-entrada>
                <tr>
                  <td p-sortField="dataEntrada">{{ entrada.dataEntrada }}</td>
                  <td>{{ entrada.quantEntrada }}</td>
                  <td></td>
                  <td><p-button styleClass="p-button-danger" icon="fa-solid fa-xmark"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de data de entrada disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table
            [value]="produto.qtdSaida"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 15]"
            [rows]="5">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"placeholder="Buscar data de saída" />
                    <!-- (input)="filtrarDataSaida($event)"  -->
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="dataSaida">Data de Saída<p-sortIcon field="dataSaida"></p-sortIcon></th>
                  <th>Quantidade de Saída</th>
                  <th>Nota fiscal referente a saída</th>
                  <th>Excluir saída</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-saida>
                <tr>
                  <td  p-sortField="dataSaida">{{ saida.dataSaida }}</td>
                  <td>{{ saida.quantSaida }}</td>
                  <td></td>
                  <td><p-button styleClass="p-button-danger" icon="fa-solid fa-xmark"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de data de saída disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>

    </ng-template>

  </p-table>


</div>




