<div class="divGeral">

  <p-table
    #dt
    [value]="categoriasFiltradas"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    dataKey="produto"
  >
  <!-- DATAKEY É NECESSÁRIO PARA ABRIR A LINHA -->
    <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Produto" />
          </span>
          <div>
            <p-button label="Dar entrada" icon="fa-solid fa-plus"></p-button>
            <p-button label="Dar saída" icon="fa-solid fa-minus"></p-button>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th>Produto</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Saldo</th>
      </tr>
    </ng-template>
    <!-- ESTÁ ABRINDO A CATEGORIA E NÃO O PRODUTO EM ESPECÍFICO -->
    <ng-template pTemplate="body" let-produto let-expanded="expanded">
      <tr *ngFor="let produto of produto?.produtos">
        <td>
          <button type="button" pButton pRipple [pRowToggler]="produto.nome[0]" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{ produto?.nome }}</td>
        <td>{{ calcularTotalEntrada(produto) }}</td>
        <td>{{ calcularTotalSaida(produto) }}</td>
        <td>{{ calcularSaldo(produto) }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-pedido>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table [value]="pedido.enderecoSelecionado" >
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome do cliente</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>CPF/CNPJ</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-usuario>
                <tr>
                  <td>{{ usuario.cep }}</td>
                  <td>{{ usuario.cidade }}</td>
                  <td>{{ usuario.bairro }}</td>
                  <td>{{ usuario.rua }} {{usuario.numeroResidencia}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de usuário disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table [value]="pedido.enderecoSelecionado" >
              <ng-template pTemplate="header">
                <tr>
                  <th>CEP</th>
                  <th>Cidade</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-usuario>
                <tr>
                  <td>{{ usuario.cep }}</td>
                  <td>{{ usuario.cidade }}</td>
                  <td>{{ usuario.bairro }}</td>
                  <td>{{ usuario.rua }}, {{usuario.numeroResidencia}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de usuário disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>

    </ng-template>

  </p-table>


</div>




