<div class="divGeral">
  <h1>Gerenciamento de Estoque</h1>
  <div class="containerEntradaSaida">

    <div class="containerEntrada">
      <h2 class="h2">Entrada de produto</h2>
      <div class="containerDropdownInput margem">
        <div class="containerDropdown">
          <p-dropdown
          placeholder="Selecionar produto"
          [options]="mapProdutos"
          optionLabel="nome"
          ></p-dropdown>
        </div>
        <div class="containerInput">
          <input class="inputQuant" pInputText type="text" placeholder="Quantidade de Entrada" />
        </div>
      </div>
      <div class="containerFileUpload margem">
        <p-fileUpload chooseLabel="Adicionar" chooseIcon="fa-solid fa-plus" [showUploadButton]="false" cancelLabel="Cancelar" name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" [maxFileSize]="100000000">
          <ng-template pTemplate="toolbar">
            <div class="labelNotaFiscal">
              Selecionar nota fiscal da entrada do produto
            </div>
          </ng-template>
          <ng-template let-file pTemplate="file">
            <div>{{file.name}}</div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="containerBotoes margem">
        <p-button styleClass="p-button-success" label="Enviar Entrada"></p-button>
      </div>
    </div>

    <div class="containerSaida ">
      <h2 class="h2">Saída de produto</h2>
      <div class="containerDropdownInput margem">
        <div class="containerDropdown">
          <p-dropdown placeholder="Selecionar produto"></p-dropdown>
        </div>
        <div class="containerInput">
          <input class="inputQuant" pInputText type="text" placeholder="Quantidade de Saída" />
        </div>
      </div>
      <div class="containerFileUpload margem">
        <p-fileUpload chooseLabel="Adicionar" chooseIcon="fa-solid fa-plus" [showUploadButton]="false" uploadLabel="Enviar" cancelLabel="Cancelar" name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" [maxFileSize]="100000000">
          <ng-template pTemplate="toolbar">
            <div class="labelNotaFiscal">
              Selecionar nota fiscal da saída do produto
            </div>
          </ng-template>
          <ng-template let-file pTemplate="file">
            <div>{{file.name}}</div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="containerBotoes margem">
        <p-button styleClass="p-button-warning" label="Enviar Saída"></p-button>
      </div>
    </div>

  </div>

  <p-table
    #dt
    [value]="mapProdutos"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    dataKey="nome"
  >
    <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="input">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Produto" />

            </span>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th>Produto</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Saldo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produto let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="produto" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{ produto.nome }}</td>
        <td>{{ calcularTotalEntrada(produto) }}</td>
        <td>{{ calcularTotalSaida(produto) }}</td>
        <td>{{ calcularSaldo(produto) }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-produto>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table
            [value]="produto.quantEntrada"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 15]"
            [rows]="5"
            >
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filtrarDataEntrada($event)" placeholder="Buscar data de entrada" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="dataEntrada">Data de Entrada<p-sortIcon field="dataEntrada"></p-sortIcon></th>
                  <th>Quantidade de Entrada</th>
                  <th>Nota fiscal referente a entrada</th>
                  <th>Excluir entrada</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-entrada>
                <tr>
                  <td p-sortField="dataEntrada">{{ entrada.dataEntrada }}</td>
                  <td>{{ entrada.quantEntrada }}</td>
                  <td><p-button styleClass="p-button-warning" icon="fa-solid fa-file-arrow-down fa-xl"></p-button></td>
                  <td><p-button styleClass="p-button-danger" icon="fa-solid fa-xmark"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de data de entrada disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="p-3">
            <p-table
            [value]="produto.quantSaida"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 15]"
            [rows]="5">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filtrarDataSaida($event)" placeholder="Buscar data de saída" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="dataSaida">Data de Saída<p-sortIcon field="dataSaida"></p-sortIcon></th>
                  <th>Quantidade de Saída</th>
                  <th>Nota fiscal referente a saída</th>
                  <th>Excluir saída</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-saida>
                <tr>
                  <td  p-sortField="dataSaida">{{ saida.dataSaida }}</td>
                  <td>{{ saida.quantSaida }}</td>
                  <td><p-button styleClass="p-button-warning" icon="fa-solid fa-file-arrow-down fa-xl"></p-button></td>
                  <td><p-button styleClass="p-button-danger" icon="fa-solid fa-xmark"></p-button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma informação de data de saída disponível.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>

    </ng-template>

  </p-table>


</div>




