.sidenav {
  background-color: var(--container-interno-cards-produtos);
  transition: all 0.3s ease; 
  z-index: 1;
  top: 0;
  width: 100%; 
  height: 100%;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  position: absolute; 
  right: 0; 
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-nav-item {
  display: flex;
  width: 100%;
  height: 80px;
  margin-bottom: 0.625rem;
  background-color: var(--background-botoes);
  border-radius: 0.313rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  min-width: 3rem;
  text-decoration: none;
  border-radius: 0.313rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.6rem;
  text-align: center;
  color: var(--textos-e-icones-botoes);
}

.sidenav-link-text {
  margin-left: 0.5rem;
  color: var(--textos-e-icones-botoes);
  word-wrap: break-word;
  width: 50%;
}

.sidenav-nav-link:hover {
  background-color: var(--hover-background-botoes);
}

.active {
  background-color: var(--hover-background-botoes);
}

@media (max-width: 1250px) {
  .sidenav-link-text {
    display: none;
  }

  .sidenav-nav-item {
    height: 3rem;
  }

  .sidenav-nav {
    padding: 1.2rem;
  }

  .sidenav {
    width: 5.7rem; 
  }
}

@media (min-width: 1251px) {
  .sidenav-link-text {
    display: block; 
  }
}

