@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }

body { margin: 0; font-family: var(--font-family); background-color: var(--background);}

:root {
  --background: #f3f3f3;
  --header-rodape: rgb(15, 182, 15);
  --scrollbar: rgb(37, 158, 45);
  --textos-e-icones-botoes: #f3f3f3;
  --background-botoes: rgb(21, 87, 21);
  --hover-background-botoes: rgb(30, 131, 36);
  --container-externo-cards-produtos: rgb(224, 222, 222);
  --container-interno-cards-produtos: #f3f3f3;
  --borda-dos-containers: rgba(255, 255, 255, 0.27);
  --background-das-divs-da-categoria: rgba(15, 182, 15, 0.381);
  --cor-valor-total: rgb(15, 78, 20);
}

/*==================================================================================================================================*/

/* CSS DA SCROLLBAR */

/* Scrollbar */
.scrollwrap{
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

/* Funciona no chrome, edge e safari */
.scrollwrap::-webkit-scrollbar {
  width: 10px
}

.scrollwrap::-webkit-scrollbar-track{
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar);
  border-radius: 20px;
}

/* Funciona no firefox */
.scrollwrap{
  scrollbar-width: thin;
}

/* CSS DA SCROLLBAR INTERNO*/

/* Scrollbar */
.scrollwrapInterno{
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav-nav,
.scrollwrapInterno:hover,
.scrollwrapInterno:focus {
  visibility: visible;
}

/* Funciona no chrome, edge e safari */
.scrollwrapInterno::-webkit-scrollbar {
  width: 10px
}

.scrollwrapInterno::-webkit-scrollbar-track{
  background: transparent;
}

.scrollwrapInterno::-webkit-scrollbar-thumb{
  border-radius: 20px;
}

/* Funciona no firefox */
.scrollwrapInterno{
  scrollbar-width: thin;
}

/*==================================================================================================================================*/
