.divGeral{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1%;
  background-color: var(--header-rodape);
}

.containerLink{
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.containerLinkUnico{
  font-size: 17px;
  font-weight: 500;
}

.categoria{
  margin-bottom: 5px;
}