<div class="divGeral">
  <h1>Gerenciamento de Estados</h1>
  <div class="containerInputs">
    <div class="divInputNomeEstado">
      <span class="p-float-label">
        <input pInputText id="nomeEstado"
        [(ngModel)]="nomeEstado"/>
        <label htmlFor="nomeEstado">Nome do Estado</label>
      </span>
    </div>
    <div class="containerUFICMS">
      <div class="divInputUF">
        <span class="p-float-label">
          <input pInputText id="uf"
          [(ngModel)]="UfId"
          (ngModelChange)="transformarParaMaiusculas()"
          [disabled]="atualizarOuExcluirId"/>
          <label htmlFor="uf">UF</label>
        </span>
      </div>
      <div class="divInputICMS">
        <span class="p-float-label">
          <input pInputText id="icms"
          [(ngModel)]="icms" (keypress)="onKeyPress($event)"/>
          <label htmlFor="icms">ICMS (%)</label>
        </span>
      </div>
    </div>
  </div>

  <div class="containerBotoesAdicionarProdutos">
    <div class="containerBotoesUm">
      <div class="divInputs espacamento">
        <p-button
          label="Adicionar Estado"
          (onClick)="cadastrarEstado()"
          [disabled]="desabilitarBotao || !nomeEstado || !UfId || !icms"
          styleClass="p-button-raised p-button-success"
        ></p-button>
      </div>
      <div class="divInputs">
        <p-button
          label="Atualizar Estado"
          [disabled]="!desabilitarBotao || !nomeEstado || !UfId || !icms"
          (onClick)="atualizarEstado()"
          styleClass="p-button-raised p-button-warning"
        ></p-button>
      </div>
    </div>
    <div class="containerBotoesDois">
      <div class="divInputs espacamento">
        <!-- <p-button
          label="Excluir Estado"
          [disabled]="!desabilitarBotao || !nomeEstado || !UfId || !icms"
          (onClick)="excluirEstado()"
          styleClass="p-button-raised p-button-danger"
        ></p-button> -->
      </div>
      <div class="divInputs">
        <p-button
          label="Limpar campos"
          [disabled]="!nomeEstado || !UfId || !icms"
          (onClick)="limparCampos()"
          styleClass="p-button-raised p-button-info"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="tabelaClientes">
    <p-table
      #dt
      [value]="estados"
      selectionMode="single"
      [(selection)]="estadoSelecionado"
      [rowHover]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 15]"
      [filterDelay]="0"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="filterTable($event)" placeholder="Buscar Estado" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome do Estado</th>
          <th>UF</th>
          <th>ICMS (%)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-estado>
        <tr [pSelectableRow]="estado" (click)="updateInputFieldsWithSelectedProduct(estado)" >
          <td>{{estado.nome}}</td>
          <td>{{estado.UfId}}</td>
          <td>{{estado.icms}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
