.divGeral {
  display: flex;
  width: 100%;
  padding: 13px;
  flex-direction: column;
  background-color: var(--container-externo-cards-produtos);
  border-radius: 6px;
}

.divInputNome{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

.divInputPeso{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

.divInputAltura{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

.divInputLargura{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

.divInputComprimento{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-right: 5px;
  margin-bottom: 15px;
}


.divInputCpf{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.divInputPreco{
  display: flex;
  width: 33%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.divInputDropDown{
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 13px 0;
  margin-bottom: 15px;
}

.containerDescs{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.containerPesoAltura{
  display: flex;
  width: 100%;
}

.containerLarguraComprimento{
  display: flex;
  width: 100%;
}

.containerUploadFoto{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.labelFotos{
  margin-top: 10px;
}

.fileUploadFotos{
  max-height: 200px;
}

.img{
  width: 180px;
  height: 150px;
}

.containerImagem{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.fileUploadFormulacao{
  max-height: 200px;
  margin-bottom: 18px;
}


.containerDescEFotos{
  width: 100%;
  display: flex;
  padding: 13px 0;
  height: 100%;
}

.divInputCep{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 13px;
}

.divInputCidade{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 0;
}


.containerInputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.containerNomeProdutoECategoria{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerPrecoEStatus{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.containerDimensionamento{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerDescricoes{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerBotoes{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.containerBotoesAdicionarProdutos{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.divInputs{
  width: 100%;
  padding: 0 10px;
}

.tabelaClientes{
  margin-top: 30px;
}

.labelDescCompleta{
  font-size: 14px;
}

:host ::ng-deep .p-inputtext{
  width: 100%;
}

:host ::ng-deep .divInputCidade .p-inputtext{
  width: 100%;
  min-height: 160px;
  max-height: 160px;
}

:host ::ng-deep .divInputs .p-button{
  width: 100%;
}

:host ::ng-deep .p-dropdown{
  width: 100%;
}

.hr{
  margin-top: 30px;
  width: 100%;
}

.h1{
  margin-top: 25px;
}

.containerBotoesUm{
  width: 100%;
  display: flex;
  
}

.containerBotoesDois{
  width: 100%;
  display: flex;
}

@media(max-width: 800px) {

  .containerBotoes{
    flex-direction: column;
  }

  .containerBotoesAdicionarProdutos{
    flex-direction: column;
  }

  .containerBotoesUm{
    margin-bottom: 15px;
  }

  .containerDimensionamento{
    flex-direction: column;
  }

  .containerDescEFotos{
    flex-direction: column;
  }

  .fileUploadFotos{
    margin-bottom: 15px;
  }

}


@media (max-width: 600px) {

  .divGeral{
    margin-top: 42px;
  }

  .containerPrecoEStatus{
    width: 100%;
    flex-direction: column;
  }
  
  .divInputPreco{
    width: 100%;
  }

  .divInputDropDown{
    width: 100%;
  }

}

@media (max-width: 500px) {

  .containerNomeProdutoECategoria{
    flex-direction: column;
  }

}